.db{
   // border:1px solid red;
}
/* ----- helpers ----- */

.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}
.hidden, [hidden] {
    display: none;
}
.hide {
    display: none !important;
}
/*.show {
    display: block !important;
}*/
.invisible {
    visibility: hidden;
}
.offset {
    position: absolute !important;
    left: -10001px !important;
    overflow: hidden !important;
}
.clip {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    border: 0 !important;
}
.selection {
    background: #354E79;
    color: #FFF;
    text-shadow: none;
    box-shadow: none;
}
.text-overflow {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-size-adjust (@val: 100%) {
    -webkit-text-size-adjust: @val;
       -moz-text-size-adjust: @val;
        -ms-text-size-adjust: @val;
         -o-text-size-adjust: @val;
            text-size-adjust: @val;
}
.content-box {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}
.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
    -webkit-background-clip: border-box;
       -moz-background-clip: border;
            background-clip: border-box;
}
.box-shadow (@x: 3px, @y: 3px, @blur: 5px, @spread: 6px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0,0,0,@alpha);
       -moz-box-shadow: @x @y @blur @spread rgba(0,0,0,@alpha);
            box-shadow: @x @y @blur @spread rgba(0,0,0,@alpha);
}
.box-shadow-inset (@x: 0, @y: 4px, @blur: 8px, @spread: 0, @alpha: 0.5) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0,0,0,@alpha);
       -moz-box-shadow: inset @x @y @blur @spread rgba(0,0,0,@alpha);
            box-shadow: inset @x @y @blur @spread rgba(0,0,0,@alpha);
}
.transition (@type: opacity, @duration: 0.3s, @easing: ease-in-out, @delay: 0.0s) {
    -webkit-transition: @type @duration @easing @delay;
       -moz-transition: @type @duration @easing @delay;
         -o-transition: @type @duration @easing @delay;
            transition: @type @duration @easing @delay;
}
.opacity (@opacity: 0.5) {
    -webkit-opacity: @opacity;
     -khtml-opacity: @opacity;
       -moz-opacity: @opacity;
            opacity: @opacity;
    @opperc: @opacity * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
        filter: ~"alpha(opacity=@{opperc})";
}
.font-size (@sizeValue) {
    @pxValue: (@sizeValue * 1);
    @remValue: @sizeValue / 10;
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem";
}
/* generated content */
.gc {
    position: relative;
}
    .ie7 .gc {
        zoom: ~"expression(this.runtimeStyle.zoom = '1', this.appendChild(document.createElement('span')).className = 'after')";
    }
    .gc:after, .ie7 .gc .after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: '';
        zoom: 1;
    }


.hide-text {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
}
	
	
/**

	img settings

**/

.img-ratio {
	display:block;
    max-width: 100%;
	height:auto;
    image-rendering: optimizeQuality;
    vertical-align: middle;
}
	
	
	.rotation(@deg:5deg){
	  .transform(rotate(@deg));
	}
	
	.transform(...) {
	  -webkit-transform: @arguments;
	  -moz-transform: @arguments;
	  -o-transform: @arguments;
	  -ms-transform: @arguments;
	  transform: @arguments;
	}
    
    .transitions2(...) {
        -webkit-transition: @arguments;
        -moz-transition: @arguments;
        -o-transition: @arguments;
        transition: @arguments;
    }

    .transitions(...) {
        @props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
        -webkit-transition:@props;
        -moz-transition:@props;
        -o-transition:@props;
        transition:@props;
    }
	
	
	