body{
	padding:0;

	// @grad-position: 100%;
	// @grad-position2: 0%;
	//
	// background: linear-gradient(0deg,  #ccc,#fff);
	// background-attachment: fixed;

	background:#eeefef;

}

.fauxbody{
	display:none;
	position: fixed;
	width:100vw;
	height:100vh;
	z-index:-1;
	top:0;
	background: url('../me.jpg') no-repeat center;
	background-size:cover;
	filter:sepia(.2) blur(2px);
	opacity:.3
}

.layout{

	margin-top:20vh;
	.db();
}

.layout-about,
.layout-project{
	padding:0 5vw;
	.mn-medium({
		padding:0 10vw;
		});
}

iframe{
	display: block;
}


.navigation-wrapper{

	background:yellow;
	position: relative;
	z-index:1000;
	top:-60px;

	// padding:0vh 10vw;

	height: auto;
	width:100%;
	overflow: hidden;

	max-height: 2200px;
	transition: all 0.6s ease-in 0s;

	&.is_closed{
		max-height: 10px;
		transition: all 0.6s ease-in 0s;
	}
	&.is_open{
		// padding:0vh 10vw;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	}
}
