/*
@xwide:1200px;
@wide:1024px;
@medium:720px;
@small:500px;
@xsmall:360px;

*/


@xwide:1200px;
@wide:1024px;
@medium:720px;
@small:500px;
@xsmall:360px;


:root{


--mq-xwide:1200px;
--mq-wide:1024px;
--mq-medium:720px;
--mq-small:500px;
--mq-xsmall:360px;

}





.mx-xwide(@rules){
    .max(@xwide; @rules);
}
.mx-wide(@rules){
    .max(@wide; @rules);
}

.mx-medium(@rules){
    .max(@medium; @rules);
}
.mx-small(@rules){
    .max(@small; @rules);
}

.mx-xsmall(@rules){
    .max(@xsmall; @rules);
}
/*

*/
.mn-xwide(@rules,@mm:"max"){
    .min(@xwide; @rules);
}
.mn-wide(@rules,@mm:"max"){
    .min(@wide; @rules);
}
.mn-medium(@rules){
    .min(@medium; @rules);
}
.mn-small(@rules){
    .min(@small; @rules);
}

.mn-xsmall(@rules){
    .min(@xsmall; @rules);
}



/*

*/
.max(@maxWidth; @rules) {

	@media only screen and (max-width: @maxWidth) {
		@rules();
	}
}
.min(@maxWidth; @rules) {

	@media only screen and (min-width: @maxWidth) {
		@rules();
	}
}
