/* ----- nth ----- */

/*
    gutter settings:
        - gutter_in, recommended setting, uses padding for gutters; value in pixel is applied as left and right padding
        - gutter_width: applied as right margin, value in %
        - column count, best not to change this!
*/
@gutter_in: 0px;
@gutter_width: 0;
@column_count: 12;


/*
    basic modules:
*/



.r1 {
    & > *:nth-child(n){.get_size(12);.newline}
}
.r2 {
    & > *:nth-child(n){.get_size(6);.defaultreg}
    & > *:nth-child(2n+2){.newline}
    & > *:nth-child(2n+1){clear:both}
}
.r3 {
    & > *:nth-child(n){.get_size(4);.defaultreg}
    & > *:nth-child(3n+3){.newline}
    & > *:nth-child(3n+1){clear:both}
}
.r4 {
    & > *:nth-child(n){.get_size(3); .defaultreg}
    & > :nth-child(4n+4){.newline}
    & > :nth-child(4n+1){clear:both}
}
.r6 {
    & > *:nth-child(n){.get_size(2);.defaultreg}
    & > :nth-child(6n+6){.newline}
    & > :nth-child(6n+1){clear:both}
}
.r12 {
    & > *:nth-child(n){.get_size(1);.defaultreg}
    & > :nth-child(12n+12){.newline}
    & > :nth-child(12n+1){clear:both}
}

/*
    basic non-standardsorted:
*/
.r5 {
    & > *:nth-child(n){.get_size(2.4);.defaultreg}
    & > :nth-child(5n+5){.newline}
    & > :nth-child(5n+1){clear:both}
}
.r7 {
    & > *:nth-child(n){.get_size(1.714);.defaultreg}
    & > :nth-child(7n+7){.newline}
    & > :nth-child(7n+1){clear:both}
}
.r8 {
    & > *:nth-child(n){.get_size(1.5);.defaultreg}
    & > :nth-child(8n+8){.newline}
    & > :nth-child(8n+1){clear:both}
}
.r9 {
    & > *:nth-child(n){.get_size(1.333333334);.defaultreg}
    & > :nth-child(9n+9){.newline}
    & > :nth-child(9n+1){clear:both}
}

/*
    double modules:
*/
.r7-5 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(2n+1){.get_size(7);clear:both}
    & > :nth-child(2n+2){.get_size(5);.newline}
}
.r8-4 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(2n+1){.get_size(8);clear:both}
    & > :nth-child(2n+2){.get_size(4);.newline}
}
.r9-3 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(2n+1){.get_size(9);clear:both}
    & > :nth-child(2n+2){.get_size(3);.newline}
}
.r3-9 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(2n+1){.get_size(3);clear:both}
    & > :nth-child(2n+2){.get_size(9);.newline}
}
.r4-8 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(2n+1){.get_size(4);clear:both}
    & > :nth-child(2n+2){.get_size(8);.newline}
}
.r5-7 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(2n+1){.get_size(5);clear:both}
    & > :nth-child(2n+2){.get_size(7);.newline}
}
.r2-10 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(2n+1){.get_size(2);clear:both}
    & > :nth-child(2n+2){.get_size(10);.newline}
}
.r10-2 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(2n+1){.get_size(10);clear:both}
    & > :nth-child(2n+2){.get_size(2);.newline}
}
.r1-11 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(2n+1){.get_size(1);clear:both}
    & > :nth-child(2n+2){.get_size(11);.newline}
}
.r11-1 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(2n+1){.get_size(11);clear:both}
    & > :nth-child(2n+2){.get_size(1);.newline}
}

/*
    tripple modules:
*/
.r3-3-6 {
    & > *:nth-child(n){.get_size(3);.defaultreg}
    & > :nth-child(3n+3){.get_size(6);.newline}
}
.r6-3-3 {
    & > *:nth-child(n){.get_size(3);.defaultreg}
    & > :nth-child(3n+1){.get_size(6)}
    & > :nth-child(3n+3){.newline}
}
.r3-6-3 {
    & > *:nth-child(n){.get_size(3);.defaultreg}
    & > :nth-child(3n+2){.get_size(6)}
    & > :nth-child(3n+3){.newline}
}
.r4-5-3 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(4)}
    & > :nth-child(3n+2){.get_size(5)}
    & > :nth-child(3n+3){.get_size(3);.newline}
}
.r3-5-4 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(3)}
    & > :nth-child(3n+2){.get_size(5)}
    & > :nth-child(3n+3){.get_size(4);.newline}
}
.r5-4-3 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(5)}
    & > :nth-child(3n+2){.get_size(3)}
    & > :nth-child(3n+3){.get_size(4);.newline}
}
.r5-3-4 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(5)}
    & > :nth-child(3n+2){.get_size(3)}
    & > :nth-child(3n+3){.get_size(4);.newline}
}
.r4-6-2 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(4)}
    & > :nth-child(3n+2){.get_size(6)}
    & > :nth-child(3n+3){.get_size(2);.newline}
}
.r4-2-6 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(4)}
    & > :nth-child(3n+2){.get_size(2)}
    & > :nth-child(3n+3){.get_size(6);.newline}
}
.r6-4-2 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(6)}
    & > :nth-child(3n+2){.get_size(4)}
    & > :nth-child(3n+3){.get_size(2);.newline}
}
.r6-2-4 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(6)}
    & > :nth-child(3n+2){.get_size(2)}
    & > :nth-child(3n+3){.get_size(4);.newline}
}
.r2-4-6 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(2)}
    & > :nth-child(3n+2){.get_size(4)}
    & > :nth-child(3n+3){.get_size(6);.newline}
}
.r2-6-4 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(2)}
    & > :nth-child(3n+2){.get_size(6)}
    & > :nth-child(3n+3){.get_size(4);.newline}
}
.r2-8-2 {
    & > *:nth-child(n){.defaultreg}
    & > :nth-child(3n+1){.get_size(2)}
    & > :nth-child(3n+2){.get_size(8)}
    & > :nth-child(3n+3){.get_size(2);.newline}
}

.rs1 {.get_size(1)}
.rs2 {.get_size(2)}
.rs3 {.get_size(3)}
.rs4 {.get_size(4)}
.rs5 {.get_size(5)}
.rs6 {.get_size(6)}
.rs7 {.get_size(7)}
.rs8 {.get_size(8)}
.rs9 {.get_size(9)}
.rs10{.get_size(10)}
.rs11{.get_size(11)}
.rs12{.get_size(12)}


/*


ignore for now



.hundred {
    & > *:nth-child(n){.defaultreg;width:1%;}
//    & > :nth-child(100n+100){.newline}
}
.thousand {
    & > *:nth-child(n){.defaultreg;width:.1%;}
//    & > :nth-child(100n+100){.newline}
}

.two-hundred {
    & > *:nth-child(n){.defaultreg;width:.5%;}
//    & > :nth-child(100n+100){.newline}
}
.five-hundred {
    & > *:nth-child(n){.defaultreg;width:.25%;}
//    & > :nth-child(100n+100){.newline}
}
.fifty {
    & > *:nth-child(n){.defaultreg;width:2%;}
   // & > :nth-child(50n+50){.newline}
}
.twenty {
    & > *:nth-child(n){.defaultreg;width:5%;}
   // & > :nth-child(21n+21){.newline}
}
*/


//.reg > *.reg.push-0, .reg.push-0,   .push-0 		{ padding: 0 @gutter_in;}
//.reg > *.reg.push-1, .reg.push-1,   .push-1 		{ .pushby(1)}
//.reg > *.reg.push-2, .reg.push-2,   .push-2 		{ .pushby(2)}
//.reg > *.reg.push-3, .reg.push-3,   .push-3 		{ .pushby(3)}
//.reg > *.reg.push-4, .reg.push-4,   .push-4 		{ .pushby(4)}
//.reg > *.reg.push-5, .reg.push-5,   .push-5 		{ .pushby(5)}
//.reg > *.reg.push-6, .reg.push-6,   .push-6 		{ .pushby(6)}
//.reg > *.reg.push-7, .reg.push-7,   .push-7 		{ .pushby(7)}
//.reg > *.reg.push-8, .reg.push-8,   .push-8 		{ .pushby(8)}
//.reg > *.reg.push-9, .reg.push-9,   .push-9 		{ .pushby(9)}
//.reg > *.reg.push-10, .reg.push-10, .push-10 	{ .pushby(10)}
//.reg > *.reg.push-11, .reg.push-11,	.push-11 	{ .pushby(11)}
//
//.reg > *.reg.pull-0, 	.reg.pull-0 ,.pull-0 	{ padding: 0 @gutter_in;}
//.reg > *.reg.pull-1, 	.reg.pull-1 ,.pull-1 	{ .pullby(1)}
//.reg > *.reg.pull-2, 	.reg.pull-2 ,.pull-2 	{ .pullby(2)}
//.reg > *.reg.pull-3, 	.reg.pull-3 ,.pull-3 	{ .pullby(3)}
//.reg > *.reg.pull-4, 	.reg.pull-4 ,.pull-4 	{ .pullby(4)}
//.reg > *.reg.pull-5, 	.reg.pull-5 ,.pull-5 	{ .pullby(5)}
//.reg > *.reg.pull-6, 	.reg.pull-6 ,.pull-6 	{ .pullby(6)}
//.reg > *.reg.pull-7, 	.reg.pull-7 ,.pull-7 	{ .pullby(7)}
//.reg > *.reg.pull-8, 	.reg.pull-8 ,.pull-8 	{ .pullby(8)}
//.reg > *.reg.pull-9, 	.reg.pull-9 ,.pull-9 	{ .pullby(9)}
//.reg > *.reg.pull-10, 	.reg.pull-10,.pull-10 	{ .pullby(10)}
//.reg > *.reg.pull-11, 	.reg.pull-11,.pull-11 	{ .pullby(11)}

.push-0         { padding: 0 @gutter_in;}
.push-1         { .pushby(1)}
.push-2         { .pushby(2)}
.push-3         { .pushby(3)}
.push-4         { .pushby(4)}
.push-5         { .pushby(5)}
.push-6         { .pushby(6)}
.push-7         { .pushby(7)}
.push-8         { .pushby(8)}
.push-9         { .pushby(9)}
.push-10        { .pushby(10)}
.push-11        { .pushby(11)}
.pull-0         { padding: 0 @gutter_in;}
.pull-1         { .pullby(1)}
.pull-2         { .pullby(2)}
.pull-3         { .pullby(3)}
.pull-4         { .pullby(4)}
.pull-5         { .pullby(5)}
.pull-6         { .pullby(6)}
.pull-7         { .pullby(7)}
.pull-8         { .pullby(8)}
.pull-9         { .pullby(9)}
.pull-10        { .pullby(10)}
.pull-11        { .pullby(11)}



/*
    DO NOT CHANGE!!!
    default classes:
*/
.newline {
	//margin-right: 0;
    //border: 0;
    //float: right;
	//clear:both;
}
.first{
	clear:both;
}
.border-box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.container{
    .border-box;
}
// kind of reset class, helps with media queries overwrites
.defaultreg {
    // this a weird one,
    // but it is required to reset clear value with clear:none;
    // oterwise it's not overwritten with mq's
     clear: none;
//    margin-right: percentage(@gutter_width / 100);

}

.reg {
    width: 100%;
    .border-box;
    zoom: 1;
    //overflow: hidden;

}


.reg *{
    .border-box;
}









/*
*/


// default module styling

.reg{
	& > *{
    display: block;
    float: left;
    .defaultreg;
	.border-box;
   // margin-right: percentage(@gutter_width / 100);
   // padding: 0 @gutter_in;

	}

    &:before,
    &:after {
        display: table;
        content: '';
    }
    &:after {
        clear: both;
    }
}


/*
.reg > * {

    display: block;
    float: left;
    .defaultreg;
	.border-box;
    margin-right: percentage(@gutter_width / 100);
    padding: 0 @gutter_in;
    //border-right: 1px solid red;
    //height: 100%;
}

*/
.reg img.ratio {
    display: block;
    width: 100%;
    .border-box;
}
.reg > *.reg {
    // reset for nested stuff
    padding: 0;
}
.revert {
    & > *:nth-child(n) {float: right}
}
.reset-revert {
    & > *:nth-child(n) {float: left}
}

.pushby(@cols) {
    @column_width: 100 / (@column_count/@cols);
    @gutter_count: (@column_count/@cols) - 1;
    @width_value: @column_width - (@gutter_count * @gutter_width / ( @column_count / @cols ));
    padding-left: percentage(@width_value / 100);
}
.pullby(@cols) {
    @column_width: 100 / (@column_count/@cols);
    @gutter_count: (@column_count/@cols) - 1;
    @width_value: @column_width - (@gutter_count * @gutter_width / ( @column_count / @cols ));
    padding-right: percentage(@width_value / 100);
}
.get_size(@cols) {
    @column_width: 100 / (@column_count/@cols);
    @gutter_count: (@column_count/@cols) - 1;
    @width_value: @column_width - (@gutter_count * @gutter_width / ( @column_count / @cols ));
    width: percentage(@width_value / 100);
}

.reg > *.skip{
   background-color:red;
   display:none;
}
