* {
    margin: 0;
    padding: 0;
    border: 0;
    margin-block-start:0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, address, hr {
    display: block;
}
html.no-js, html.js {
    overflow-y: scroll;

        /* momentum scrolling */
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
body {
    min-height: 100%;
	margin:0;
    padding:0;
    font-weight: 400;
}

ul,li{padding:0;margin:0;list-style:none;}

	a{
			color:inherit;
			text-decoration:none;
	}


.optimiseScroll(){
   //transform:translateY(0);
   //will-change:transform;
}


.clearfix(){

    zoom: 1;

    & :before,
    & :after {
        display: table;
        content: '';
    }
    & :after {
        clear: both;
    }

    /*& : after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }*/

}

/*
.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}*/
