.ff-sys{
	font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
}



.underline{
	text-decoration: underline;
}
.uppercase{
	text-transform: uppercase;
}


.bold    { font-weight: bold }
.regular { font-weight: normal }
.italic  { font-style: italic }
.normal { font-style: normal }

.caps    { text-transform: uppercase; letter-spacing: .03em; }


.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }

.word-break(){

-ms-word-break: break-all;
 word-break: break-all;

 /* Non standard for webkit */
 word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}




.font-size(@sizeValue) {
	@remValue: @sizeValue/10;
	@pxValue: (@sizeValue);
	font-size: ~"@{pxValue}px"; 
	font-size: ~"@{remValue}rem";
}