html{
	//set up to 10px base:
	font-size: 62.5%;

}

body{
	font-size:var(--fs-body);
	.ff-sys;
	-webkit-text-size-adjust:none;
}

h1,h2,h3,h4,h5,h6{.regular;}
//
// h1{
// 	.font-size(@fs-h1);
// }
//
// h2{
// 	.font-size(@fs-h2);
// }
// h3{
// 	.font-size(@fs-h3);
// }
