.about-story{

        min-height: 25vh;
        padding-top:5vh;

        .font-size(16);
        font-weight:400;
        max-width: 800px;
        & p{ margin-top:.5em; }
        & p:first-child{ margin-top:0; }
        .mn-medium({
        .font-size(18);
            });
    }
