@header-height: 60px;
@basket-height: 60px;

@show-border-width : 8px;
@show-border-color : white;

@footer-bgr: rgba(40, 20, 20, 0.2);

@fs-display: 32;
@fs-h1: 28;
@fs-h2: 24;
@fs-h3: 21;
@fs-caption: 18;
@fs-body: 16;
@fs-little: 14;

//media queries breaking points:
@lg-break: 1400px;
@md-break: 800px;
@sm-break: 400px;
