footer {
  margin: 20vh 0 0;
  padding: 40px 5vw;
  min-height: 50vh;
  position: relative;
  background: @footer-bgr;
  .mn-medium({padding: 0 10vw;});
}
.footer-copyrights {
  text-align: right;
  .font-size(12);
  position: absolute;
  bottom: 20px;
  right: 5vw;
  .mn-medium({right: 10vw;});
}
.sl-list {
  margin-top: 40px;
}
