.hdr{
	overflow: hidden;
	display: flex;
	flex-direction: row;
	position: relative;
	z-index:5000;
	.font-size(18);
	line-height: 2.7em;

	&.is_expanded{

	}

	hgroup{
		width:100%;
		padding:10px 5vw 0;
		.mn-medium({
			padding:10px 10vw 0;
			});
		display: flex;
		flex-direction: row;
	}

}
.hdr-title{
	//width:10vw;
	.font-size(18);

}
.hdr-nav{

}
.hdr-title{
	display:flex;
	 flex: 3 0;
	 padding-right:20px;
	 text-align: left;
}

// .hdr-nav
// {
// 	display:flex;
// 	flex:1 0;
// 	align-self:end;
//
// }

.hdr-nav-list
{
	display:flex;
	flex-direction: row;




}
.hdr-nav-item{
	margin-left:20px;
	text-align: right;

}

.hdr-nav-link{
	border-bottom:1px solid transparent;
	transition: border-bottom .2s;
}
.hdr-nav-link:hover{
	border-bottom:4px solid black;
	transition: border-bottom .2s;
}
.hdr-title-text-default{
	text-align:left;

}
.hdr-title-text-short{
	text-align:right;
	display:none;
}
.hdr-date-stamps{
	text-align: right;
	.font-size(12);
	position:absolute;
	right:0;
	top:0;
	line-height: 6vh;
	right:2vw;

}



.homepage-return a:hover{background-color: black;
	color:white;}
