.home-mainscreen{
    // display:flex;
    // flex-direction: row;
}

.home-story{
    // flex:1;
    min-height: 25vh;
    padding-top:5vh;

    font-size: 2.6rem;
    font-weight:400;
    max-width: 800px;
    & p{ margin-top:.5em; }
    & p:first-child{ margin-top:0; }
    .mn-medium({
    font-size: 3.4rem;
        });
}

.home-projects-intro{
    margin-top:10vh;
}
.home-projects-nav{
    margin-top:10vh;
}
.need-a-job{

    // text-align: center;
    padding:10px;
    background:white;


}


.homepage-return{
	position: fixed;
	top:~"calc(30vh + 20px)";
	width:100%;
}

.home-testimonial{}
.homepage-return a{

	.font-size(36);
	width:6vw;
	height:6vw;

	min-width:80px;
	min-height:80px;

	position: absolute;
	top:0px;
	left:0;

	display: flex;
	align-items: center;
	justify-content: center;
	.db();


}
.home-navigation .navigation{
    padding-top:10vh;
}



.home-illustration{
    // position:absolute;
    // bottom:40px;
    // right:0;
    margin-top:10vh;
    svg {
        width:100%;height:130px;
    }
    .computer{
        .mn-medium({
            transform:translateX(15vw);
        })
    }
}
