/*

all different thigns


*/

.flag(@str){

    &:after{
        content:@str;
        display:inline-block;
        font-size:12px;
        background:red;
        color:white;
        min-width:2em;
        line-height:inherit;
        position:absolute;
        padding:.2em .4em;
    }

}

.fix{
    border:5px solid red;
}


@import "config.less";

@import "utils/reset.less";
@import "utils/helpers.less";
@import "utils/nth2.less";
@import "utils/typography.less";
@import "utils/typography-utils.less";
@import "utils/layout.less";
@import "utils/mq.less";


@import "config.less";
@import "navigation.less";
@import "header.less";
@import "footer.less";
@import "home.less";
@import "about.less";
@import "project.less";
@import "project-specific.less";


h1.todo{
    background:yellow;
    padding:40px;
}
