.navigation {

	.db();
}

.navigation-dropdown .navigation{
	padding:30vh 5vw;
	.mn-medium({
		padding:30vh 10vw;
	})


}

.navigation-project-list{
	list-style: none;

	.font-size(24);
}


.navigation-project-list-item{
	margin-top:10px;
}

._transiton(){
	transition: opacity .3s, rotateX .5s, transform .5s;
}
.navigation-project-list-link{}
.navigation-project-list-link-label{}
.navigation-project-list-link-subline{
	font-size:.5em;
	//color:rgba(255,255,255,1);
	// background:rgba(9,9,9,.9);
	padding:.5em 0;
	opacity:0;
	display: inline-block;
	transform: translateX(10px);
._transiton();
}

.navigation-project-list-link:hover{

	.navigation-project-list-link-subline{
		opacity: 1;
		transform: translateX(0px);
		// transform: rotateX(0deg), translateY(1px);
		._transiton();

	//background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	}

}
@psu: 4vw;

.navigation-project-list-link:hover{
	//background:rgba(255,255,255,.1);

}

.navigation-project-list-link{

	display:flex;
	flex-direction: column;
	justify-content: center;
	height:10vh;
	min-height:80px;
	.db();
	//padding: 0 10vw;

}

.navigation-project-list-link:before{
	content: "→";
	text-align: right;
	display: block;
	position: absolute;
	transform: translateX(-6rem);
	width:4rem;
	opacity: 0;
	//.font-size(10);
	transition: transform .2s, opacity .3s;
	.db();

}
.navigation-project-list-link:hover:before{
	transform: translateX(-5rem);
	opacity: 1;

}
