
.oed-cubes-ifr,
.oed-prototype-ifr{
    background:white;
}

.oed-prototype-ifr{

    .mn-medium({
        min-width: 450px;
        })
}
.oed-logo-content{
    justify-content: flex-end;

}
.oed-logo-img{

    background:rgba(9,37,102,1);
    padding:40px 80px;
    box-sizing: border-box;

    .mn-medium({
        max-width:450px;
        float:right;
        })

}

.ivy{
    padding:10px 20px;
    background: white;
}

.ivy-scroll-content{
    max-height: 28vw;
}


.lexi-onmobile-img{
    //max-height: 567px;
    max-width: 380px;
}

.lexi-scroll-content{
    padding-right: 0;
}
