<template>
  <section class="container">

        <ProjectIntro>
            <template slot="head">
                <headline primary="Ad Planner" secondary="Yahoo! Research and Insights 2011-2014" />
            </template>
            <template slot="desc">
                <text-block size="third" class="">
                    <p>I worked together with Yahoo! EMEA Research and Insights team on an application that provided insight into performance of new advertising formats across different countries and properties of Yahoo! Network.</p>
                    <p>The data gathered during over a year long research, was made accessible via a filter interface that would allow a researcher to define their own parameters.</p>
                    <p>In addition the application provided glossary section and a details about the tested formats.</p>
                </text-block>
            </template>
            <template slot="bite">
                <bites :items="['Information Architecture','UX','Full stack development','Visual Design']" />    
            </template>
        </ProjectIntro>

        <div class="slide">
                <viewer :collection="home" label="Homepage" />
        </div>


        
        <div class="slide">
                <viewer :scroll="true" :collection="filters" label="I have designed a filter UI that utilised html form markup. It allowed consistency of the interaction throughout all the key sections of the app." />
        </div>
        <div class="slide">
                <viewer :collection="wfs" label="These low fidelity wireframes were used to validate the requirements and progress of the project. " />
        </div>

        <div class="slide">
                <viewer :collection="ds1" :label="'Working application screengrabs'" />
        </div>
        <div class="slide">
                <viewer :collection="ds2" :label="'...more screengrabs'" />
        </div>

        <FauxCursor :capture="['.media-viewer']" />

  </section>
</template>

<script>

import ifr from '~/components/c/ifr.vue'
import bite from '~/components/c/bite.vue'
import viewer from '~/components/c/viewer.vue'
import headline from '~/components/c/Headline.vue'
import TextBlock from '~/components/c/TextBlock.vue'
import ProjectIntro from '~/components/c/ProjectIntro.vue'
import Quote from '~/components/c/Quote.vue'
import Bites from '~/components/c/Bites.vue'
import Split from '~/components/c/Split.vue'
import Links from '~/components/c/Links.vue'
import FauxCursor from '~/components/c/FauxCursor.vue'
// import yall from 'yall'


export default {
  components: {
      ifr,bite,viewer,headline,'text-block':TextBlock,Quote,Bites,Split,Links,ProjectIntro,FauxCursor
  },
  data(){
      return{
          // desktop_screengrabs:['/img/projects/ad-planner/sg1.jpg','/img/projects/ad-planner/sg2.jpg','/img/projects/ad-planner/sg3.jpg','/img/projects/ad-planner/sg5.jpg'],

           
         home:[{mq:{desktop:0}, src: '/img/projects/ad-planner/home.jpg', alias:'/kozysa.me/ad-planner/home.jpg'}],
         filters:[{mq:{desktop:1400}, src: '/img/projects/ad-planner/tripplewf.gif', alias:'/kozysa.me/ad-planner/tripplewf.gif'}],
         wfs:[{mq:{desktop:1400}, src: '/img/projects/ad-planner/wfs.jpg', alias:'/kozysa.me/ad-planner/wfs.jpg'}],
         ds1:[
            {mq:{desktop:0}, src: '/img/projects/ad-planner/sg3.jpg', alias:'/kozysa.me/ad-planner/sg3.jpg'},
            {mq:{desktop:0}, src: '/img/projects/ad-planner/sg5.jpg', alias:'/kozysa.me/ad-planner/sg5.jpg'}
        ],
         ds2:[
            {mq:{desktop:0}, src: '/img/projects/ad-planner/sg2.jpg', alias:'/kozysa.me/ad-planner/sg2.jpg'},
            {mq:{desktop:0}, src: '/img/projects/ad-planner/sg1.jpg', alias:'/kozysa.me/ad-planner/sg1.jpg'}
            ],
      }

  },

}
</script>