<template>
  <section class="container">



        <ProjectIntro>
            <template slot="head">
                 <headline primary="Geimfar" secondary="Geimfar" />
            </template>
            
            <template slot="desc">
                <text-block size="full">
                    <p>Geimfar means spacecraft in Icelandic – and this particular one is a little bit like Tardis... bigger on the inside. It is my friend’s creative space and the logo was designed for her.</p>
                    <p>The only requirement was for the logo to be easily made into a sign, preferably using basic tools. DIY, you know...</p>
                    <p>Thanks Sharon!</p>
                </text-block>
            </template>

            <template slot="bite">
                <bites :items="['Visual Design/Illustrator','Procedural Design / Gif Looper!']" />
            </template>
        </ProjectIntro>



        <div class="slide">
            <viewer :collection="grid" label="The grid and a pixel idea was inspired by traditional Icelandic Embroidery. I think the moment I googled the Traditional Icelandic ... art, craft, etc I knew how it was going to unveil"/>
        </div>
        <div class="slide">
            <viewer layout="column" :collection="c1" label="Desing based on simple rules is easy to transfer to any medium. This one for Geimfar, could be easily drilled or painted."/>
        </div>
        <div class="slide">
            <viewer layout="column" :collection="c2" label="It also makes it easy to qucikly explore various styles..."/>
        </div>
        <div class="slide">
            <viewer layout="column" :collection="c3" label="... and animations. I used GIFLoopCoder, to animate the grid cells."/>
        </div>

  </section>
</template>

<script>

import ifr from '~/components/c/ifr.vue'
import bite from '~/components/c/bite.vue'
import viewer from '~/components/c/viewer.vue'
import headline from '~/components/c/Headline.vue'
import TextBlock from '~/components/c/TextBlock.vue'
import ProjectIntro from '~/components/c/ProjectIntro.vue'
import Quote from '~/components/c/Quote.vue'
import Bites from '~/components/c/Bites.vue'
import Split from '~/components/c/Split.vue'
import Links from '~/components/c/Links.vue'
// import yall from 'yall'


export default {
  components: {
      ifr,bite,viewer,headline,'text-block':TextBlock,Quote,Bites,Split,Links,ProjectIntro
  },
  data(){
      return{
        grid: [{mq:{desktop:1400}, src: '/img/projects/geimfar/grid.jpg', alias:'kozysa.me/geimfar/grid.jpg'}],
        c1: [{mq:{desktop:1400}, src: '/img/projects/geimfar/drills.jpg', alias:'kozysa.me/geimfar/drills.jpg'},{mq:{desktop:1400}, src: '/img/projects/geimfar/dots.jpg', alias:'kozysa.me/geimfar/dots.jpg'}],
        c2: [{mq:{desktop:1400}, src: '/img/projects/geimfar/stars.jpg', alias:'kozysa.me/geimfar/stars.jpg'},{mq:{desktop:1400}, src: '/img/projects/geimfar/dots.jpg', alias:'kozysa.me/geimfar/dots.jpg'}],
        c3: [{mq:{desktop:0}, src: '/img/projects/geimfar/stripes-anim.gif', alias:'kozysa.me/geimfar/stripes-anim.gif'}]
        
      }
  },

}
</script>
            
            
        