<template>
  <section class="container">


        <ProjectIntro>
            <template slot="head">
                <headline primary="LEXI 2014" secondary="Channel 4" />
            </template>
            <template slot="desc">
            <text-block size="full" class="intro-column">
                <p>LEXI is a visual language used to illustrate disabilities and impairments that define athletes Paralympic classification. </p>
                <p>My role was to design &amp; build an interactive guide that brings LEXI to life through the perspective of the Paralympic disciplines. </p>
                <p>Complexity of Paralympic classification is due to the fact that athletes with different types of impairments compete within the same classifications. LEXI provides a visual aid that helps to bridge the gap in the understanding how athletes are grouped and classified.</p>
                
            </text-block>
        </template>

        <template slot="bite">
           <bites class="" :items="['Project Lead', 'IA','UX','UI & Visual Design']" />
        </template>
        
        </ProjectIntro>
  
        <div class="slide">
                <viewer :scroll="true" :collection="lexi_home" label="Entire guide has been designed accordingly with Channel 4 UX  guidelines that provided typography system, colour palettes and UX principles." />
        </div>

        <div class="slide">
                <viewer :collection="lexi_icons" label="LEXI was created by Giles Long and has been used by Channel 4 during the Paralympic broadcast. The entire language is composed of icons like these, with four colour scale representing severity." />
        </div>

        <div class="slide">
            <ifr src="https://kozysa.me/lexi2014/lexi2014_flows.pdf" label="User journey and classifications breakdown. These documents were used to validate the site architecture, annotate changes." />
        </div>

        <div class="slide">
            <viewer :collection="lexi_sketches" label="UI sketches, exploring tabs and accordions for the UI. " />
        </div>
        <div class="slide">
                <viewer :fold="true" :collection="desktop_wfs" label="Desktop wireframes" />
        </div>

        <div class="slide">
                <viewer :fold="true" :collection="mobile_wfs" label="Mobile wireframes" />
        </div>
        <div class="slide slide-mobile">
                <viewer :scroll="true" :collection="lexi_mobile" label="Mobile page example, the guide was fully responsive." />
        </div>



        <!-- <links :items="[{label:'David',url:'http://www.davidgoodchild.com/independent-voices/'},{label:'Ivy now',url:'https://www.independent.co.uk/voices/'}]" /> -->

<FauxCursor :capture="['.media-viewer']" />
  </section>
</template>

<script>

import ifr from '~/components/c/ifr.vue'
import viewer from '~/components/c/viewer.vue'
import bite from '~/components/c/bite.vue'
import headline from '~/components/c/Headline.vue'
import TextBlock from '~/components/c/TextBlock.vue'
import ProjectIntro from '~/components/c/ProjectIntro.vue'

import Quote from '~/components/c/Quote.vue'
import Bites from '~/components/c/Bites.vue'
import Split from '~/components/c/Split.vue'
import Links from '~/components/c/Links.vue'
import FauxCursor from '~/components/c/FauxCursor.vue'
// import yall from 'yall'

export default {
  components: {
      ifr,viewer,Quote,'text-block':TextBlock,Split,Links,ProjectIntro,bite,headline,Bites,FauxCursor
  },
  data(){
      return{
        
        lexi_sketches:[{mq:{desktop:1000},src:'/img/projects/lexi2014/lexi2014-sketches.gif',alias:'/kozysa.me/LEXI2014/lexi2014-sketches.gif'}],
        lexi_mobile:[{mq:{desktop:600},src:'/img/projects/lexi2014/lexi2014-mobile-ccs2.jpg',alias:'/kozysa.me/LEXI2014/lexi2014-mobile-ccs2.jpg'}],
        lexi_icons:[{mq:{desktop:1100},src:'/img/projects/lexi2014/icons.jpg',alias:'/kozysa.me/LEXI2014/icons.jpg'}],
       
        lexi_home:[
            // {mq:{desktop:1100},src:'/img/projects/lexi2014/lexi2014-biathlon-hp.jpg',alias:'/kozysa.me/LEXI2014/lexi2014-biathlon-hp.jpg'},
            {mq:{desktop:1100},src:'/img/projects/lexi2014/lexi2014-biathlon-hp.jpg',alias:'/kozysa.me/LEXI2014/lexi2014-biathlon-hp.jpg'}
        ],

        desktop_wfs:[
            {mq:{desktop:600},src:'/img/projects/lexi2014/wf1.png',alias:'/kozysa.me/LEXI2014/wf1.png'},
            {mq:{desktop:600},src:'/img/projects/lexi2014/wf2.png',alias:'/kozysa.me/LEXI2014/wf2.png'},
            {mq:{desktop:600},src:'/img/projects/lexi2014/wf3.png',alias:'/kozysa.me/LEXI2014/wf3.png'},
            {mq:{desktop:600},src:'/img/projects/lexi2014/wf4.png',alias:'/kozysa.me/LEXI2014/wf4.png'}
        ],
        mobile_wfs:[
            {mq:{desktop:600},src:'/img/projects/lexi2014/wf5.png',alias:'/kozysa.me/LEXI2014/wf5.png'},
            {mq:{desktop:600},src:'/img/projects/lexi2014/wf6.png',alias:'/kozysa.me/LEXI2014/wf6.png'},
            {mq:{desktop:600},src:'/img/projects/lexi2014/wf7.png',alias:'/kozysa.me/LEXI2014/wf7.png'}
            
        ],

      }
  },

}
</script>
<style lang="less" scoped >
.slide-mobile{
    max-width:320px;
}

</style>
