<template>
  <section class="container">


        <ProjectIntro>
            <template slot="head">
             <headline primary="Birthday Words" secondary="Oxford Dictionaries" />
            </template>
            <template slot="desc">
            <text-block size="full" class="intro-column">
               <p>Oxford University Press were looking to re-design and develop an interactive feature where users can find out the word introduced to the Oxford Dictionary the year they were born. This playful app was deployed in 2018 as a part of OED blog re-design.</p>
            </text-block>
        </template>

        <template slot="bite">
           <bites :items="['UX','Prototyping','Front End Development','Visual Design']" />
        </template>
        

       
        
        </ProjectIntro>



      
        <div class="slide">
            <ifr src="https://kozysa.me/oed/proto/02/kozysa3demo.html" label="This is one of the early explorations, I build these to prototype the 3D CSS/JS animation mechanism and test the browser performance. Click the cubes!" />
        </div>
        <div class="slide">
            <viewer :fold="true" :collection="sources" label="Complete app in four simple steps. The original feature required an extra step as users were asked to pick the decade first."/>
        </div>
        <div class="slide">
            <split :fold="true">
            <ifr class="ifr-oed-tests" src="https://dev.15nine.com/old_dev/od/list.html" />
            <text-block size="" justify="left" class="prototype-text">
                <p>To address a question of what is the easiest/quickest way to submit a year of birth. I built four tests that used different input mechanisms. My local cafe provided testing ground and the native input proved the safest choice.</p>
                <p>Duh!? Yes and no, here is an interesting finding: both list based UIs saw biggest improvement upon several repetitions. Although this discovery hasn’t affected design in this case, it’s a good lesson nevertheless as it resonates with the idea of an interface as a gesture.</p>
            </text-block>
            </split>
        </div>
        <div class="slide">
            <quote from="Kirsty" detail="Marketing Executive, Oxford University Press">
                We worked with Tomasz to create an interactive Birthday Words feature that tells you which words entered the English language in the year you were born, and needed a developer who was excellent at both development and design. Tomasz was the perfect person for the job.
                Tomasz was a real pleasure to work with. He brought a wealth of initiative, creativity, and skill to the project, and worked quickly and accurately to create a feature that is better than we ever imagined. As well as providing us with excellent design ideas, he added some really great moving features. Thank you very much for your hard work and wonderful ideas, Tomasz!
            </quote>
        </div>
<FauxCursor :capture="['.media-viewer']" />
  </section>
</template>

<script>

import ifr from '~/components/c/ifr.vue'
import bite from '~/components/c/bite.vue'
import viewer from '~/components/c/viewer.vue'
import headline from '~/components/c/Headline.vue'
import TextBlock from '~/components/c/TextBlock.vue'
import ProjectIntro from '~/components/c/ProjectIntro.vue'
import Quote from '~/components/c/Quote.vue'
import Bites from '~/components/c/Bites.vue'
import Split from '~/components/c/Split.vue'
import Links from '~/components/c/Links.vue'
import FauxCursor from '~/components/c/FauxCursor.vue'
// import yall from 'yall'


export default {
  components: {
      ifr,bite,viewer,headline,'text-block':TextBlock,Quote,Bites,Split,Links,ProjectIntro,FauxCursor
  },
  data(){
      return{
          sources:[
             {mq:{desktop:600},src:'/img/projects/oed/oed_step1.jpg',alias:'kozysa.me/oed/oed_step1.jpg'},
             {mq:{desktop:600},src:'/img/projects/oed/oed_step2.jpg',alias:'kozysa.me/oed/oed_step2.jpg'},
             {mq:{desktop:600},src:'/img/projects/oed/oed_step3.jpg',alias:'kozysa.me/oed/oed_step3.jpg'},
             {mq:{desktop:600},src:'/img/projects/oed/oed_step4.jpg',alias:'kozysa.me/oed/oed_step4.jpg'}
             ]
      }
  },

}
</script>

<style lang="less">

.ifr-oed-tests{
    max-width:420px;
}

.prototype-text{
    align-self: flex-end;
}

</style>
