<template>
  <section class="container">
<div class="slide">


    <links :items="[{label:'David',url:'http://www.davidgoodchild.com/independent-voices/'}]" />


    <split label="split test.... any good?">
        <text-block >
            The Independent wanted to explore a new major addition to independent.co.uk. The new section was to provide a platform for debate on current political issues and other affairs. A mix of hot topics and polarizing points of view, delivered in a sharp and opinionated way. Our task was to design a visual identity and a langauge that could do that. Bold and typographicaly loud with well defined colours, the new langauge had to work accross multiple editorial features and sub sections.
        </text-block>
        <viewer class=" splited" :collection="[sources[1]]"/>
    </split>
    <split label="split test.... any good?">
        <viewer class="splited" :collection="[sources[0]]" :scroll="true"/>
        <viewer class=" splited" :collection="[sources[1]]" :scroll="true"/>
    </split>

</div>
<div class="slide">

      <quote from="Amol Rajan" detail="Editor of The Independent">
          Nothing short of an inspiration to work with. At our initial meeting I laid out some broad principles for us to work to, which they adhered to superbly. The design they generated was extremely energetic, exciting, and unique, and throughout the consultation process both David and Tomek proved courteous, considerate, and highly competent. I would gladly go to them when designing a future website, and recommend that others do so too.
    </quote>


    <bites :items="['UX','UI','IA']" />

</div>
     <div class="slide">
     <headline primary="Birthday words!" secondary="Oxford University" />
     <text-block size="half" snap="right">
         The Independent wanted to explore a new major addition to independent.co.uk. The new section was to provide a platform for debate on current political issues and other affairs. A mix of hot topics and polarizing points of view, delivered in a sharp and opinionated way. Our task was to design a visual identity and a langauge that could do that. Bold and typographicaly loud with well defined colours, the new langauge had to work accross multiple editorial features and sub sections.
     </text-block>
     <text-block size="half">
         The Independent wanted to explore a new major addition to independent.co.uk. The new section was to provide a platform for debate on current political issues and other affairs. A mix of hot topics and polarizing points of view, delivered in a sharp and opinionated way. Our task was to design a visual identity and a langauge that could do that. Bold and typographicaly loud with well defined colours, the new langauge had to work accross multiple editorial features and sub sections.
     </text-block>
    </div>
    <div class="slide">
    <ifr src="https://kozysa.me/oed/proto/02/kozysa3demo.html" label="One of early explorations of 3D based JS/CSS animatons.<br>Click the cubes!" />
    </div>
    <div class="slide">
    <viewer class="v" :collection="sources" label="One of early explorations of 3D based JS/CSS animatons.<br>Click the cubes!" />
    </div>

    <bite class="logo-bite" src="https://public.oed.com/media/birthday-words/img/oedbw-logo2.png" label="ouch auch" />

    <div class="slide">

</div>

  </section>
</template>

<script>
import ifr from '~/components/c/ifr.vue'
import bite from '~/components/c/bite.vue'
import viewer from '~/components/c/viewer.vue'
import headline from '~/components/c/Headline.vue'
import TextBlock from '~/components/c/TextBlock.vue'
import Quote from '~/components/c/Quote.vue'
import Bites from '~/components/c/Bites.vue'
import Split from '~/components/c/Split.vue'
import Links from '~/components/c/Links.vue'


export default {
  components: {
      ifr,bite,viewer,headline,'text-block':TextBlock,Quote,Bites,Split,Links
  },
  data(){
      return{
          sources:['https://kozysa.me/oed/oed-step1.jpg','https://kozysa.me/oed/oed-step2.jpg','https://kozysa.me/oed/oed-step3.jpg','https://kozysa.me/oed/oed-step4.jpg']
      }
  }
}
</script>

<style lang="less">
.container {

  // scroll-snap-type: mandatory;
  // scroll-snap-points-y: repeat(100vh);
  // scroll-snap-type: y mandatory;
  // height:100vh;
  // overflow: auto;
  // border-top:1px solid black;


  // padding-bottom: 140vh;
}

.slide {
    clear:both;
    // border-top:1px solid black;
  // scroll-snap-align: start;
  // min-height:90vh;
  margin-top:4em;
}
.logo-bite{
    max-width: 420px;
    float:right;
}
.logo-bite .bite-media{
    background:red;
    padding:1em;
}
.v{
    clear:both;
}
.v.single{
    max-width: 420px;
}
.split{
    clear:both;
    display: flex;
    flex-direction: row;
    flex:1;
}
</style>
