<template>
  <section class="container">

        <ProjectIntro>
            <template slot="head">
                 <headline primary="Lime theatre" secondary="Spektrix" />
            </template>
            <template slot="desc">
                <text-block size="full" class="intro-column">
                <p>Spektrix are championing online tickets sales with their bespoke system. This page was designed &amp; build to provide a demonstration of Spektrix API features.</p>
                </text-block>
            </template>
            <template slot="bite">
                <bites :items="['UX','Prototyping','Front End Development']" />
            </template>
        </ProjectIntro>


        <div class="slide">
            <split label="Spektrix API powered the listings and show info. Quick book button provided in spot access to the showtimes. This demo page provided a walkthrough entire booking process.">
                <viewer :collection="homepage1" :scroll="true" />
                <viewer :collection="homepage2" :scroll="true"/>
            </split>
        </div>

        <div class="slide">
            <viewer :collection="mobile" 
            label="The website was fully responsive" />
        </div>
                <FauxCursor :capture="['.media-viewer']" />

  </section>
</template>

<script>

import ifr from '~/components/c/ifr.vue'
import bite from '~/components/c/bite.vue'
import viewer from '~/components/c/viewer.vue'
import headline from '~/components/c/Headline.vue'
import TextBlock from '~/components/c/TextBlock.vue'
import ProjectIntro from '~/components/c/ProjectIntro.vue'
import Quote from '~/components/c/Quote.vue'
import Bites from '~/components/c/Bites.vue'
import Split from '~/components/c/Split.vue'
import Links from '~/components/c/Links.vue'
import FauxCursor from '~/components/c/FauxCursor.vue'
// import yall from 'yall'


export default {
  components: {
      ifr,bite,viewer,headline,'text-block':TextBlock,Quote,Bites,Split,Links,ProjectIntro,FauxCursor
  },
  mounted(){
      var style = getComputedStyle(document.body);
      console.log("style.getPropertyValue('--mq-xwide')",style.getPropertyValue('--mq-xwide'));
  },
  data(){
      return{
          homepage1:[
              {mq:{desktop:1200},src:'/img/projects/spektrix/homepage.jpg',alias:'kozysa.me/spektrix/homepage.jpg'},
              
          ],
          homepage2:[
              {mq:{desktop:800},src:'/img/projects/spektrix/homepage-quickbook.jpg',alias:'kozysa.me/spektrix/homepage-quickbook.jpg'}
          ],


        mobile:[
            {mq:{desktop:1100}, src: '/img/projects/spektrix/mobile-home.jpg', alias:'kozysa.me/spektrix/mobile-home.jpg'},
            {mq:{desktop:1100}, src: '/img/projects/spektrix/mobile-quickbook.jpg', alias:'kozysa.me/spektrix/mobile-quickbook.jpg'},
            {mq:{desktop:1100}, src: '/img/projects/spektrix/mobile-show.jpg', alias:'kozysa.me/spektrix/mobile-show.jpg'}
            
        ],


      }
  },

}
</script>
