<template>
  <section class="container">


        <ProjectIntro>
            <template slot="head">
                 <headline primary="SVG Morse Generator" secondary="Personal" />
            </template>
            <template slot="desc">
                <text-block size="third">
              <p>Oh, I’ve enjoyed putting together designs for my personal business cards. Desperate for a basic look and a solution without a logo, I’ve decided to use a computer graphic I made in Illustrator. For a personal touch I have decided to use morse code encoded messages on the computer screen, a romantic notion of code as poetry.</p>
          </text-block>
            </template>
            <template slot="bite">
                <bites :items="['Vue.js','SVG','Illustrator']" />
            </template>
        </ProjectIntro>


        <div class="slide">
            <viewer :collection="sources" label="Morse encoded messages, first one on the left says Save the world with the code"/>
        </div>

        <div class="slide">
            <viewer :collection="app" label="In order to quickly generate morse I could use in Illustrator I have build SVG Code Generator, a Vue.js app that translates words into the SVG morse code. This encapsulates the idea of crafting your own tools to infuse a little bit of magic into the work."/>
        </div>
        <div class="slide bc-printed">
            <viewer :collection="print" label="Sample prints. More to come!"/>
        </div>
<FauxCursor :capture="['.media-viewer']" />

  </section>
</template>

<script>

import ifr from '~/components/c/ifr.vue'
import bite from '~/components/c/bite.vue'
import viewer from '~/components/c/viewer.vue'
import headline from '~/components/c/Headline.vue'
import TextBlock from '~/components/c/TextBlock.vue'
import ProjectIntro from '~/components/c/ProjectIntro.vue'
import Quote from '~/components/c/Quote.vue'
import Bites from '~/components/c/Bites.vue'
import Split from '~/components/c/Split.vue'
import Links from '~/components/c/Links.vue'
import FauxCursor from '~/components/c/FauxCursor.vue'
// import yall from 'yall'

export default {
  components: {
      ifr,bite,viewer,headline,'text-block':TextBlock,Quote,Bites,Split,Links,ProjectIntro,FauxCursor
  },
  data(){
      return{
          sources:[
            {mq:{desktop:400}, src: '/img/projects/svg-morse-generator/change_the_world_with_the_code.jpg', alias:'/kozysa.me/svg-morse-generator/change_the_world_with_the_code.jpg'},
            {mq:{desktop:400}, src: '/img/projects/svg-morse-generator/dont_be_a_d.jpg', alias:'/kozysa.me/svg-morse-generator/dont_be_a_d.jpg'},
            {mq:{desktop:400}, src: '/img/projects/svg-morse-generator/dont_work_with_arseholes.jpg', alias:'/kozysa.me/svg-morse-generator/dont_work_with_arseholes.jpg'},
            {mq:{desktop:400}, src: '/img/projects/svg-morse-generator/whatever_you_are_be_a_good_one.jpg', alias:'/kozysa.me/svg-morse-generator/whatever_you_are_be_a_good_one.jpg'},
            {mq:{desktop:400}, src: '/img/projects/svg-morse-generator/you_either_win_or_learn.jpg', alias:'/kozysa.me/svg-morse-generator/you_either_win_or_learn.jpg'}
        ],
         app:[{mq:{desktop:0}, src: '/img/projects/svg-morse-generator/app.gif', alias:'/kozysa.me/svg-morse-generator/app.gif'}],
         print:[{mq:{desktop:800}, src: '/img/projects/svg-morse-generator/printed.jpg', alias:'/kozysa.me/svg-morse-generator/printed.jpg'}],
      }

      
  },

}
</script>
