<template>
  <section class="container">


    <div class="slide">
        1
    </div>

    <div class="slide">
2
    </div>
    <div class="slide">
3
    </div>
    <div class="slide">
4
    </div>
    <div class="slide">
        1
    </div>

    <div class="slide">
2
    </div>
    <div class="slide">
3
    </div>
    <div class="slide">
4
    </div>

  </section>
</template>

<script>
import ifr from '~/components/c/ifr.vue'
import bite from '~/components/c/bite.vue'
import viewer from '~/components/c/viewer.vue'


export default {
  components: {
      ifr,bite,viewer
  },
  data(){
      return{
          sources:['https://kozysa.me/oed/oed-step1.jpg','https://kozysa.me/oed/oed-step2.jpg','https://kozysa.me/oed/oed-step3.jpg','https://kozysa.me/oed/oed-step4.jpg']

      }
  }
}
</script>

<style lang="less">
.container {
    margin-top:10vh;
  // scroll-snap-type: mandatory;
  // scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  // height:90vh;
  // overflow: hidden;
  // overflow-y:auto;
  display:flex;
  flex-flow: column nowrap;
  height:80vh;
  flex:none;
  overflow-y:auto;
  padding-bottom:10vh;

}

.slide {
  scroll-snap-align: start;
  min-height:75vh;
  margin-top:10vh;
  background:rgba(11,123,30,.5);
   flex: none;
}
.slide:first-child{
    margin-top:0vh;
}
</style>
