<template>
  <section class="container">



        <ProjectIntro>
            <template slot="head">
                 <headline primary="Typemix" secondary="Personal" />
            </template>
            
            <template slot="desc">
                <text-block size="full">
                   <p>TypeMix is an SVG based typographic experiment where randomised properties from colour palletes to stroke-width create quirky looking letters.</p>
                    <p>Generated images can be exported in various formats. It's entrirely built in vanilla JS and pateiently awaits for more developemnt.</p>
                    <p>Below are some of the images generated with the app.</p>
                 </text-block>
            </template>

            <template slot="bite">
                <bites :items="['SVG','Javascript']" />
            </template>
        </ProjectIntro>



        <div class="slide">
            <viewer :collection="collection" layout="column" />
        </div>
       
  </section>
</template>

<script>

import ifr from '~/components/c/ifr.vue'
import bite from '~/components/c/bite.vue'
import viewer from '~/components/c/viewer.vue'
import headline from '~/components/c/Headline.vue'
import TextBlock from '~/components/c/TextBlock.vue'
import ProjectIntro from '~/components/c/ProjectIntro.vue'
import Quote from '~/components/c/Quote.vue'
import Bites from '~/components/c/Bites.vue'
import Split from '~/components/c/Split.vue'
import Links from '~/components/c/Links.vue'
// import yall from 'yall'


export default {
  components: {
      ifr,bite,viewer,headline,'text-block':TextBlock,Quote,Bites,Split,Links,ProjectIntro
  },
  data(){

      return {
       collection:[
    {mq:{desktop:1200}, src:'/img/projects/typemix/img7.png', alias:'kozysa.me/typemix/img7.png'},
    
    {mq:{desktop:1200}, src:'/img/projects/typemix/img9.png', alias:'kozysa.me/typemix/img9.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img10.png', alias:'kozysa.me/typemix/img10.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img11.png', alias:'kozysa.me/typemix/img11.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img12.png', alias:'kozysa.me/typemix/img12.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img13.png', alias:'kozysa.me/typemix/img13.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img14.png', alias:'kozysa.me/typemix/img14.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img15.png', alias:'kozysa.me/typemix/img15.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img16.png', alias:'kozysa.me/typemix/img16.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img17.png', alias:'kozysa.me/typemix/img17.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img18.png', alias:'kozysa.me/typemix/img18.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img19.png', alias:'kozysa.me/typemix/img19.png'},
    {mq:{desktop:1200}, src:'/img/projects/typemix/img20.png', alias:'kozysa.me/typemix/img20.png'}]
    
  }

}
}
</script>
            
            
        