<template>
  <section ref="cursor" class="container">

        <ProjectIntro>
            <template slot="head">
                 <headline primary="Independent Voices" secondary="The Independent" />
            </template>
            <template slot="desc">
                <text-block size="full" class="intro-column">
                    <p>The Independent wanted to explore a new major addition to their website — a platform for debate and comment on a variety of current topics and polarising points of view.</p>
                    <p>Our task was to design a visual identity and a language that could do just that. Bold and typographically loud with strong, almost offending colours, the new language had to work across multiple editorial features and sub sections. </p>
                    <p>We were a team of two designers, David Goodchild and myself. This project was a great collaborative effect and and a great example of how work can be streamlined within a small team. </p>
                    <p>This project was completed in two weeks, and few months later deployed as a part of the independent.co.uk.</p>

                </text-block>
            </template>
            <template slot="bite">
                <bites :items="['UX','Visual Design','Design System','Adobe CS']" />
            </template>
        </ProjectIntro>


        <div class="slide">
            <split label="Instead of splitting the tasks, we borrowed extreme programming concept which allowed us to work simultaneously on the same task. In this way we could explore more possibilities, validate our thinking and have a complete understanding of decisions made.">
                <viewer :collection="homepage_comp" :scroll="true" />
                <viewer :collection="homepage_wf" :scroll="true"/>
            </split>
        </div>

        <div class="slide">
            <viewer :collection="wireframes_combo" layout="column" :scroll="true"
            label="We created a system of modules that form multiple editorial features. With a library full of well defined building blocks we could easily assemble pages and explore different combinations." />
        </div>

        <div class="slide" >
            <split label="Examples of modules with new visual style applied, Variations on an article snippet and the more reactive side of the project">
                <viewer :collection="modules1" :scroll="true" />
                <viewer :collection="modules2" :scroll="true" />
            </split>
        </div>

        <div class="slide">
            <quote from="Amol Rajan" detail="Editor of The Independent">
                Nothing short of an inspiration to work with. At our initial meeting I laid out some broad principles for us to work to, which they adhered to superbly. The design they generated was extremely energetic, exciting, and unique, and throughout the consultation process both David and Tomek proved courteous, considerate, and highly competent. I would gladly go to them when designing a future website, and recommend that others do so too.
            </quote>
        </div>

        <!-- <links :items="[{label:'David',url:'https://www.davidgoodchild.com/independent-voices/'},{label:'Ivy now',url:'https://www.independent.co.uk/voices/'}]" /> -->

   <FauxCursor :capture="['.media-viewer']" @onCapture="onCaptured"/>
  </section>
</template>

<script>

import ifr from '~/components/c/ifr.vue'
import bite from '~/components/c/bite.vue'
import viewer from '~/components/c/viewer.vue'
import headline from '~/components/c/Headline.vue'
import TextBlock from '~/components/c/TextBlock.vue'
import ProjectIntro from '~/components/c/ProjectIntro.vue'
import Quote from '~/components/c/Quote.vue'
import Bites from '~/components/c/Bites.vue'
import Split from '~/components/c/Split.vue'
import Links from '~/components/c/Links.vue'
import FauxCursor from '~/components/c/FauxCursor.vue'
// import yall from 'yall'


export default {
  components: {
      ifr,bite,viewer,headline,'text-block':TextBlock,Quote,Bites,Split,Links,ProjectIntro,FauxCursor
  },
  mounted(){
      var style = getComputedStyle(document.body);
      console.log("style.getPropertyValue('--mq-xwide')",style.getPropertyValue('--mq-xwide'));
  },
  methods:{
      onCaptured:function(){
          console.log('onCaptured!!!');
      }
  },
  data(){
      return{
          homepage_comp:[{mq:{desktop:800},src:'/img/projects/voices/homepage_wf.png',alias:'kozysa.me/voices/homepage_wf.png'}],
          homepage_wf:[{mq:{desktop:800},src:'/img/projects/voices/homepage.jpg',alias:'kozysa.me/voices/homepage.jpg'}],

        wireframes_combo:[
            {mq:{desktop:1100}, src: '/img/projects/voices/wfs1.jpg', alias:'kozysa.me/voices/wfs1.jpg'},
            {mq:{desktop:1100}, src: '/img/projects/voices/wfs2.jpg', alias:'kozysa.me/voices/wfs2.jpg'},
            {mq:{desktop:1100}, src: '/img/projects/voices/wfs3.jpg', alias:'kozysa.me/voices/wfs3.jpg'},
            {mq:{desktop:1100}, src: '/img/projects/voices/wfs4.jpg', alias:'kozysa.me/voices/wfs4.jpg'}
        ],
        modules1:[{mq:{desktop:1100}, src:'/img/projects/voices/ivy-modules_01.jpg',alias:'kozysa.me/voices/ivy-modules_01.jpg'}],
        modules2:[{mq:{desktop:1100}, src:'/img/projects/voices/ivy-modules_04.jpg',alias:'kozysa.me/voices/ivy-modules_04.jpg'}],


      }
  },

}
</script>
