<template>
    <ul class="bites" v-if="items">
	       <li class="bites-item" v-for="it in items" :key="it" ><span>{{it}}</span></li>
    </ul>
</template>


<script>
export default {
    name:'quote',
    props:{
        items:Array,
    },

}
</script>
<style scoped lang="less">
@import "../../less/coffee/config.less";


.bites{
	// margin-top:2em;
    display:flex;
    flex-direction:column;
     .mx-medium({
        flex-direction:row;
            flex-wrap: wrap;
    })
    // font-weight:300;
    // margin-left:-1em;
    
}
.bites-item{
	// opacity:.8;
    // margin-right:.5em;
    // margin-top:1.1em;
    font-size:var(--fs-bites);
    --dot:2px;
    position:relative;
    padding:0 1em 0 0;
    text-align:left;

    &::after{
        transition:all .5s;
        content:" ";
        display:block;
        position:absolute;
        top:calc(var(--fs-bites) / 2);
        right:-1em;
        width:var(--dot);
        height:var(--dot);
        background:var(--c-primary);     //rgba(255,255,255,1);
        // border:1px solid var(--c-primary);     
        border-radius:99999px;

         .mx-medium({
             
            left:-.5em;
            top:.15em;
            width:1px;
            height:var(--fs-bites)
        })

    }
    &:first-child::after{
        .mx-medium({
                 height:0;
             })
    }
 .mn-medium({
    padding:0;            
    text-align:right;

 });
    
    span{
    // padding:.5em 1em;
    // background:rgba(255,255,255,.4);
    // border-radius:9999em;
   
    }
}

</style>
