<template>
    <div class="bite">
		<div class="bite-media">
			<img :src="src" class="media-viewer-image lazyload">
		</div>
		<clabel v-if="label" :label="label"/>
    </div>
</template>

<script>
import label from '~/components/c/label.vue';
export default {
    name:'bite',
    components:{
        clabel:label
    },
    props:{
        src:String,
        label:String
    }
}
</script>

<style>

.bite{

}

</style>
