<template>
     <img :src="placeholder" :data-src="src" class="cc lazy" />
   
</template>

<script>
// import cloudinary from "cloudinary";

export default {
    name:'cloud',
    props:{
        alias:String,
        d:Number,

    },
    data(){
        return{
            cloudinary:'https://res.cloudinary.com/fifteennine/image/upload/',
            place_holder:'w_50'
        }
    },
    computed:{
        placeholder(){
            return this.cloudinary+'w_10/'+this.alias;
        },
        src(){
            if(this.d === 0 || this.d === null )
                return this.cloudinary+this.alias;
            else
                return this.cloudinary+'w_'+this.d+'/'+this.alias;
        }
    }
}
</script>

<style>
.cc{
    width:100%;
    height:auto;
    opacity:1;
    display:block;
    transition:opacity .2s, 
    filter .1s ease-in-out;
    filter:blur(0px);
}
.cc.lazy, .cc.tmp{
    filter:blur(200px);
    opacity:.3;
}

</style>
