<template>

<section class="home-illustration">
    <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="196.1px" height="88.1px" viewBox="0 0 196.1 88.1" style="enable-background:new 0 0 196.1 88.1;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st3{fill:#FFFFFF;stroke:#000000;stroke-width:0.2456;stroke-miterlimit:10;}
	.st4{fill:#FFFFFF;}
	.st5{fill:none;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
	.st6{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:0,5,166,223;}
	.st7{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;}
</style>
<defs>
</defs>
<line id="horizont_1_" class="st0" x1="-2000" y1="76.1" x2="2000" y2="76.1"></line>
<g class="computer">
<g id="monitor_stand_1_">
	<path class="st1" d="M120.2,83l0-2.4c-14.7,0-14.7-9.2-14.7-9.2H90.6c0,0,0,9.2-14.7,9.2l0,2.4H120.2z"></path>
	<g>
		<line class="st2" x1="91.6" y1="71.5" x2="90.8" y2="73.6"></line>
		<line class="st2" x1="93" y1="71.5" x2="92.1" y2="73.6"></line>
		<line class="st2" x1="94.4" y1="71.5" x2="93.5" y2="73.6"></line>
		<line class="st2" x1="95.8" y1="71.5" x2="94.9" y2="73.6"></line>
		<line class="st2" x1="97.2" y1="71.5" x2="96.3" y2="73.6"></line>
		<line class="st2" x1="98.6" y1="71.5" x2="97.7" y2="73.6"></line>
		<line class="st2" x1="100" y1="71.5" x2="99.1" y2="73.6"></line>
		<line class="st2" x1="101.4" y1="71.5" x2="100.5" y2="73.6"></line>
		<line class="st2" x1="102.8" y1="71.5" x2="101.9" y2="73.6"></line>
		<line class="st2" x1="104.1" y1="71.5" x2="103.3" y2="73.6"></line>
		<line class="st2" x1="105.5" y1="71.5" x2="104.7" y2="73.6"></line>
	</g>
</g>
<g id="keyboard_1_">
	<g>
		<g>
			<path class="st1" d="M143.3,85.7c0,0,0-0.4,0-1c0-1.1-1.7-4.5-2.9-4.5H55.8c-1.2,0-3.1,3.8-3.1,4.5c0,0.5,0,1,0,1"></path>
		</g>
		<g>
			<g>
				<g>
					<path class="st3" d="M70.9,80.7v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C70.2,79.4,70.9,80,70.9,80.7L70.9,80.7z"></path>
				</g>
				<g>
					<path class="st3" d="M77.7,80.7v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C77,79.4,77.7,80,77.7,80.7L77.7,80.7z"></path>
				</g>
				<g>
					<path class="st3" d="M84.5,80.7v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C83.8,79.4,84.5,80,84.5,80.7L84.5,80.7z"></path>
				</g>
				<g>
					<path class="st3" d="M91.2,80.7v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C90.5,79.4,91.2,80,91.2,80.7L91.2,80.7z"></path>
				</g>
				<g>
					<path class="st3" d="M98,80.7v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C97.3,79.4,98,80,98,80.7L98,80.7z"></path>
				</g>
				<g>
					<path class="st3" d="M104.8,80.7v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C104.1,79.4,104.8,80,104.8,80.7L104.8,80.7z"></path>
				</g>
				<g>
					<path class="st3" d="M111.5,80.7v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C110.9,79.4,111.5,80,111.5,80.7L111.5,80.7z"></path>
				</g>
				<g>
					<path class="st3" d="M118.3,80.7v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C117.6,79.4,118.3,80,118.3,80.7L118.3,80.7z"></path>
				</g>
				<g>
					<path class="st3" d="M125.1,80.7v1.7H119v-1.7v0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						S125.1,80,125.1,80.7L125.1,80.7z"></path>
				</g>
				<g>
					<path class="st3" d="M131.9,80.7v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						S131.9,80,131.9,80.7L131.9,80.7z"></path>
				</g>
			</g>
			<g>
				<g>
					<path d="M70.9,81.2v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C70.2,79.9,70.9,80.5,70.9,81.2L70.9,81.2z"></path>
				</g>
				<g>
					<path d="M77.7,81.2v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C77,79.9,77.7,80.5,77.7,81.2L77.7,81.2z"></path>
				</g>
				<g>
					<path d="M84.5,81.2v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1C83.8,79.9,84.5,80.5,84.5,81.2
						L84.5,81.2z"></path>
				</g>
				<g>
					<path d="M91.2,81.2v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C90.5,79.9,91.2,80.5,91.2,81.2L91.2,81.2z"></path>
				</g>
				<g>
					<path d="M98,81.2v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1C97.3,79.9,98,80.5,98,81.2
						L98,81.2z"></path>
				</g>
				<g>
					<path d="M104.8,81.2v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C104.1,79.9,104.8,80.5,104.8,81.2L104.8,81.2z"></path>
				</g>
				<g>
					<path d="M111.5,81.2v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C110.9,79.9,111.5,80.5,111.5,81.2L111.5,81.2z"></path>
				</g>
				<g>
					<path d="M118.3,81.2v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C117.6,79.9,118.3,80.5,118.3,81.2L118.3,81.2z"></path>
				</g>
				<g>
					<path d="M125.1,81.2v1.7H119v-1.7v0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1S125.1,80.5,125.1,81.2
						L125.1,81.2z"></path>
				</g>
				<g>
					<path d="M131.9,81.2v1.7h-6.1v-1.7v0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1S131.9,80.5,131.9,81.2
						L131.9,81.2z"></path>
				</g>
			</g>
			<g>
				<g>
					<path class="st3" d="M67.6,81.2v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C66.9,79.8,67.6,80.4,67.6,81.2L67.6,81.2z"></path>
				</g>
				<g>
					<path class="st3" d="M74.4,81.2v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C73.7,79.8,74.4,80.4,74.4,81.2L74.4,81.2z"></path>
				</g>
				<g>
					<path class="st3" d="M81.1,81.2v1.7H75v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C80.4,79.8,81.1,80.4,81.1,81.2L81.1,81.2z"></path>
				</g>
				<g>
					<path class="st3" d="M87.9,81.2v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C87.2,79.8,87.9,80.4,87.9,81.2L87.9,81.2z"></path>
				</g>
				<g>
					<path class="st3" d="M94.7,81.2v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C94,79.8,94.7,80.4,94.7,81.2L94.7,81.2z"></path>
				</g>
				<g>
					<path class="st3" d="M101.4,81.2v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						S101.4,80.4,101.4,81.2L101.4,81.2z"></path>
				</g>
				<g>
					<path class="st3" d="M108.2,81.2v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C107.5,79.8,108.2,80.4,108.2,81.2L108.2,81.2z"></path>
				</g>
				<g>
					<path class="st3" d="M115,81.2v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C114.3,79.8,115,80.4,115,81.2L115,81.2z"></path>
				</g>
				<g>
					<path class="st3" d="M121.8,81.2v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C121.1,79.8,121.8,80.4,121.8,81.2L121.8,81.2z"></path>
				</g>
				<g>
					<path class="st3" d="M128.5,81.2v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C127.8,79.8,128.5,80.4,128.5,81.2L128.5,81.2z"></path>
				</g>
				<g>
					<path class="st3" d="M135.3,81.2v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C134.6,79.8,135.3,80.4,135.3,81.2L135.3,81.2z"></path>
				</g>
			</g>
			<g>
				<g>
					<path d="M67.6,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C66.9,80.4,67.6,81,67.6,81.8L67.6,81.8z"></path>
				</g>
				<g>
					<path d="M74.4,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C73.7,80.4,74.4,81,74.4,81.8L74.4,81.8z"></path>
				</g>
				<g>
					<path d="M81.1,81.8v1.7H75v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1C80.4,80.4,81.1,81,81.1,81.8
						L81.1,81.8z"></path>
				</g>
				<g>
					<path d="M87.9,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C87.2,80.4,87.9,81,87.9,81.8L87.9,81.8z"></path>
				</g>
				<g>
					<path d="M94.7,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C94,80.4,94.7,81,94.7,81.8L94.7,81.8z"></path>
				</g>
				<g>
					<path d="M101.4,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1S101.4,81,101.4,81.8
						L101.4,81.8z"></path>
				</g>
				<g>
					<path d="M108.2,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C107.5,80.4,108.2,81,108.2,81.8L108.2,81.8z"></path>
				</g>
				<g>
					<path d="M115,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C114.3,80.4,115,81,115,81.8L115,81.8z"></path>
				</g>
				<g>
					<path d="M121.8,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C121.1,80.4,121.8,81,121.8,81.8L121.8,81.8z"></path>
				</g>
				<g>
					<path d="M128.5,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C127.8,80.4,128.5,81,128.5,81.8L128.5,81.8z"></path>
				</g>
				<g>
					<path d="M135.3,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C134.6,80.4,135.3,81,135.3,81.8L135.3,81.8z"></path>
				</g>
			</g>
			<g>
				<g>
					<path class="st3" d="M64.2,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1s1-0.1,1.7-0.1
						S64.2,81,64.2,81.8L64.2,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M71,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C70.3,80.4,71,81,71,81.8L71,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M77.7,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C77.1,80.4,77.7,81,77.7,81.8L77.7,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M84.5,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C83.8,80.4,84.5,81,84.5,81.8L84.5,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M91.3,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C90.6,80.4,91.3,81,91.3,81.8L91.3,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M98.1,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C97.4,80.4,98.1,81,98.1,81.8L98.1,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M104.8,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C104.1,80.4,104.8,81,104.8,81.8L104.8,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M111.6,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						S111.6,81,111.6,81.8L111.6,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M118.4,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C117.7,80.4,118.4,81,118.4,81.8L118.4,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M125.1,81.8v1.7H119v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1s1-0.1,1.7-0.1
						C124.5,80.4,125.1,81,125.1,81.8L125.1,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M131.9,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1s1-0.1,1.7-0.1
						S131.9,81,131.9,81.8L131.9,81.8z"></path>
				</g>
				<g>
					<path class="st3" d="M138.7,81.8v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1s1-0.1,1.7-0.1
						C138,80.4,138.7,81,138.7,81.8L138.7,81.8z"></path>
				</g>
			</g>
			<g>
				<g>
					<path d="M64.2,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1s1-0.1,1.7-0.1S64.2,81.9,64.2,82.6
						L64.2,82.6z"></path>
				</g>
				<g>
					<path d="M71,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1C70.3,81.3,71,81.9,71,82.6
						L71,82.6z"></path>
				</g>
				<g>
					<path d="M77.7,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C77.1,81.3,77.7,81.9,77.7,82.6L77.7,82.6z"></path>
				</g>
				<g>
					<path d="M84.5,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C83.8,81.3,84.5,81.9,84.5,82.6L84.5,82.6z"></path>
				</g>
				<g>
					<path d="M91.3,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C90.6,81.3,91.3,81.9,91.3,82.6L91.3,82.6z"></path>
				</g>
				<g>
					<path d="M98.1,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C97.4,81.3,98.1,81.9,98.1,82.6L98.1,82.6z"></path>
				</g>
				<g>
					<path d="M104.8,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C104.1,81.3,104.8,81.9,104.8,82.6L104.8,82.6z"></path>
				</g>
				<g>
					<path d="M111.6,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1S111.6,81.9,111.6,82.6
						L111.6,82.6z"></path>
				</g>
				<g>
					<path d="M118.4,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1c0.6,0,1-0.1,1.7-0.1
						C117.7,81.3,118.4,81.9,118.4,82.6L118.4,82.6z"></path>
				</g>
				<g>
					<path d="M125.1,82.6v1.7H119v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1s1-0.1,1.7-0.1
						C124.5,81.3,125.1,81.9,125.1,82.6L125.1,82.6z"></path>
				</g>
				<g>
					<path d="M131.9,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4c0.8,0,1.1,0.1,1.7,0.1s1-0.1,1.7-0.1S131.9,81.9,131.9,82.6
						L131.9,82.6z"></path>
				</g>
				<g>
					<path d="M138.7,82.6v1.7h-6.1v-1.7l0,0c0-0.7,0.6-1.4,1.4-1.4s1.1,0.1,1.7,0.1s1-0.1,1.7-0.1C138,81.3,138.7,81.9,138.7,82.6
						L138.7,82.6z"></path>
				</g>
			</g>
		</g>
		<g>
			<path class="st1" d="M52.8,84.8v1.1c0,1.2,1,1.7,2.1,1.7h86.4c1.2,0,1.9-0.5,1.9-1.7v-1.1"></path>
		</g>
		<g>
			<path class="st4" d="M56.9,84.5v-1.1c0-1.2,0.9-1.7,2.1-1.7l80.8,0c1.1,0,2.1,0.5,2.1,1.7v1.1"></path>
		</g>
	</g>
	<g>
		<line class="st2" x1="52.8" y1="84.5" x2="143.3" y2="84.5"></line>
	</g>
	<g>
		<line class="st2" x1="55.6" y1="85.3" x2="54.7" y2="87.4"></line>
		<line class="st2" x1="57" y1="85.3" x2="56.1" y2="87.4"></line>
		<line class="st2" x1="58.4" y1="85.3" x2="57.5" y2="87.4"></line>
		<line class="st2" x1="59.8" y1="85.3" x2="58.9" y2="87.4"></line>
		<line class="st2" x1="61.2" y1="85.3" x2="60.3" y2="87.4"></line>
		<line class="st2" x1="62.6" y1="85.3" x2="61.7" y2="87.4"></line>
		<line class="st2" x1="64" y1="85.3" x2="63.2" y2="87.4"></line>
		<line class="st2" x1="65.4" y1="85.3" x2="64.6" y2="87.4"></line>
		<line class="st2" x1="66.8" y1="85.3" x2="66" y2="87.4"></line>
		<line class="st2" x1="68.2" y1="85.3" x2="67.4" y2="87.4"></line>
		<line class="st2" x1="69.6" y1="85.3" x2="68.8" y2="87.4"></line>
		<line class="st2" x1="71" y1="85.3" x2="70.2" y2="87.4"></line>
		<line class="st2" x1="72.4" y1="85.3" x2="71.6" y2="87.4"></line>
		<line class="st2" x1="73.9" y1="85.3" x2="73" y2="87.4"></line>
		<line class="st2" x1="75.3" y1="85.3" x2="74.4" y2="87.4"></line>
		<line class="st2" x1="76.7" y1="85.3" x2="75.8" y2="87.4"></line>
		<line class="st2" x1="78.1" y1="85.3" x2="77.2" y2="87.4"></line>
		<line class="st2" x1="79.5" y1="85.3" x2="78.6" y2="87.4"></line>
		<line class="st2" x1="80.9" y1="85.3" x2="80" y2="87.4"></line>
		<line class="st2" x1="82.3" y1="85.3" x2="81.4" y2="87.4"></line>
		<line class="st2" x1="83.7" y1="85.3" x2="82.8" y2="87.4"></line>
		<line class="st2" x1="85.1" y1="85.3" x2="84.3" y2="87.4"></line>
		<line class="st2" x1="86.5" y1="85.3" x2="85.7" y2="87.4"></line>
		<line class="st2" x1="87.9" y1="85.3" x2="87.1" y2="87.4"></line>
		<line class="st2" x1="89.3" y1="85.3" x2="88.5" y2="87.4"></line>
		<line class="st2" x1="90.7" y1="85.3" x2="89.9" y2="87.4"></line>
		<line class="st2" x1="92.1" y1="85.3" x2="91.3" y2="87.4"></line>
		<line class="st2" x1="93.5" y1="85.3" x2="92.7" y2="87.4"></line>
		<line class="st2" x1="95" y1="85.3" x2="94.1" y2="87.4"></line>
		<line class="st2" x1="96.4" y1="85.3" x2="95.5" y2="87.4"></line>
		<line class="st2" x1="97.8" y1="85.3" x2="96.9" y2="87.4"></line>
		<line class="st2" x1="99.2" y1="85.3" x2="98.3" y2="87.4"></line>
		<line class="st2" x1="100.6" y1="85.3" x2="99.7" y2="87.4"></line>
		<line class="st2" x1="102" y1="85.3" x2="101.1" y2="87.4"></line>
		<line class="st2" x1="103.4" y1="85.3" x2="102.5" y2="87.4"></line>
		<line class="st2" x1="104.8" y1="85.3" x2="103.9" y2="87.4"></line>
		<line class="st2" x1="106.2" y1="85.3" x2="105.4" y2="87.4"></line>
		<line class="st2" x1="107.6" y1="85.3" x2="106.8" y2="87.4"></line>
		<line class="st2" x1="109" y1="85.3" x2="108.2" y2="87.4"></line>
		<line class="st2" x1="110.4" y1="85.3" x2="109.6" y2="87.4"></line>
		<line class="st2" x1="111.8" y1="85.3" x2="111" y2="87.4"></line>
		<line class="st2" x1="113.2" y1="85.3" x2="112.4" y2="87.4"></line>
		<line class="st2" x1="114.7" y1="85.3" x2="113.8" y2="87.4"></line>
		<line class="st2" x1="116.1" y1="85.3" x2="115.2" y2="87.4"></line>
		<line class="st2" x1="117.5" y1="85.3" x2="116.6" y2="87.4"></line>
		<line class="st2" x1="118.9" y1="85.3" x2="118" y2="87.4"></line>
		<line class="st2" x1="120.3" y1="85.3" x2="119.4" y2="87.4"></line>
		<line class="st2" x1="121.7" y1="85.3" x2="120.8" y2="87.4"></line>
		<line class="st2" x1="123.1" y1="85.3" x2="122.2" y2="87.4"></line>
		<line class="st2" x1="124.5" y1="85.3" x2="123.6" y2="87.4"></line>
		<line class="st2" x1="125.9" y1="85.3" x2="125" y2="87.4"></line>
		<line class="st2" x1="127.3" y1="85.3" x2="126.5" y2="87.4"></line>
		<line class="st2" x1="128.7" y1="85.3" x2="127.9" y2="87.4"></line>
		<line class="st2" x1="130.1" y1="85.3" x2="129.3" y2="87.4"></line>
		<line class="st2" x1="131.5" y1="85.3" x2="130.7" y2="87.4"></line>
		<line class="st2" x1="132.9" y1="85.3" x2="132.1" y2="87.4"></line>
		<line class="st2" x1="134.3" y1="85.3" x2="133.5" y2="87.4"></line>
		<line class="st2" x1="135.8" y1="85.3" x2="134.9" y2="87.4"></line>
		<line class="st2" x1="137.2" y1="85.3" x2="136.3" y2="87.4"></line>
		<line class="st2" x1="138.6" y1="85.3" x2="137.7" y2="87.4"></line>
		<line class="st2" x1="140" y1="85.3" x2="139.1" y2="87.4"></line>
		<line class="st2" x1="141.4" y1="85.3" x2="140.5" y2="87.4"></line>
	</g>
	<g>
		<line class="st2" x1="54" y1="81.8" x2="142.1" y2="81.8"></line>
	</g>
</g>
<g id="monitor_1_">
	<path class="st5" d="M60.8,71.2c-6.5,0-11.8-5.3-11.8-11.8V12.5C49,6,54.3,0.8,60.8,0.8h74.5c6.5,0,11.8,5.3,11.8,11.8v46.9
		c0,6.5-5.3,11.8-11.8,11.8H60.8z"></path>
	<path class="st6" d="M60.8,67c-4.2,0-7.6-3.4-7.6-7.6V12.5c0-4.2,3.4-7.6,7.6-7.6h74.5c4.2,0,7.6,3.4,7.6,7.6v46.9
		c0,4.2-3.4,7.6-7.6,7.6H60.8z"></path>
	<path class="st2" d="M60.8,65.2c-3.2,0-5.8-2.6-5.8-5.8V12.5c0-3.2,2.6-5.8,5.8-5.8h74.5c3.2,0,5.8,2.6,5.8,5.8v46.9
		c0,3.2-2.6,5.8-5.8,5.8H60.8z"></path>
</g>
<g id="you_either_win_or_learn_1_">
	<g>
		<line class="st7" x1="70.8" y1="23.7" x2="74.5" y2="23.7"></line>
		<line class="st7" x1="77.6" y1="23.7" x2="77.9" y2="23.7"></line>
		<line class="st7" x1="80.9" y1="23.7" x2="84.6" y2="23.7"></line>
		<line class="st7" x1="87.7" y1="23.7" x2="91.4" y2="23.7"></line>
		<line class="st7" x1="94.5" y1="23.7" x2="98.2" y2="23.7"></line>
		<line class="st7" x1="101.3" y1="23.7" x2="105" y2="23.7"></line>
		<line class="st7" x1="108.1" y1="23.7" x2="111.8" y2="23.7"></line>
		<line class="st7" x1="114.8" y1="23.7" x2="115.1" y2="23.7"></line>
		<line class="st7" x1="118.2" y1="23.7" x2="118.5" y2="23.7"></line>
		<line class="st7" x1="121.6" y1="23.7" x2="125.3" y2="23.7"></line>
	</g>
	<g>
		<line class="st7" x1="75.9" y1="29.8" x2="76.2" y2="29.8"></line>
		<line class="st7" x1="79.3" y1="29.8" x2="79.6" y2="29.8"></line>
		<line class="st7" x1="82.6" y1="29.8" x2="82.9" y2="29.8"></line>
		<line class="st7" x1="86" y1="29.8" x2="89.7" y2="29.8"></line>
		<line class="st7" x1="92.8" y1="29.8" x2="93.1" y2="29.8"></line>
		<line class="st7" x1="96.2" y1="29.8" x2="96.5" y2="29.8"></line>
		<line class="st7" x1="99.6" y1="29.8" x2="99.9" y2="29.8"></line>
		<line class="st7" x1="103" y1="29.8" x2="103.3" y2="29.8"></line>
		<line class="st7" x1="106.4" y1="29.8" x2="106.7" y2="29.8"></line>
		<line class="st7" x1="109.8" y1="29.8" x2="110.1" y2="29.8"></line>
		<line class="st7" x1="113.1" y1="29.8" x2="116.8" y2="29.8"></line>
		<line class="st7" x1="119.9" y1="29.8" x2="120.2" y2="29.8"></line>
	</g>
	<g>
		<line class="st7" x1="82.6" y1="36" x2="82.9" y2="36"></line>
		<line class="st7" x1="86" y1="36" x2="89.7" y2="36"></line>
		<line class="st7" x1="92.8" y1="36" x2="96.5" y2="36"></line>
		<line class="st7" x1="99.6" y1="36" x2="99.9" y2="36"></line>
		<line class="st7" x1="103" y1="36" x2="103.3" y2="36"></line>
		<line class="st7" x1="106.4" y1="36" x2="110.1" y2="36"></line>
		<line class="st7" x1="113.1" y1="36" x2="113.5" y2="36"></line>
	</g>
	<g>
		<line class="st7" x1="82.6" y1="42.1" x2="86.3" y2="42.1"></line>
		<line class="st7" x1="89.4" y1="42.1" x2="93.1" y2="42.1"></line>
		<line class="st7" x1="96.2" y1="42.1" x2="99.9" y2="42.1"></line>
		<line class="st7" x1="103" y1="42.1" x2="103.3" y2="42.1"></line>
		<line class="st7" x1="106.4" y1="42.1" x2="110.1" y2="42.1"></line>
		<line class="st7" x1="113.1" y1="42.1" x2="113.5" y2="42.1"></line>
	</g>
	<g>
		<line class="st7" x1="72.5" y1="48.3" x2="72.8" y2="48.3"></line>
		<line class="st7" x1="75.9" y1="48.3" x2="79.6" y2="48.3"></line>
		<line class="st7" x1="82.6" y1="48.3" x2="82.9" y2="48.3"></line>
		<line class="st7" x1="86" y1="48.3" x2="86.3" y2="48.3"></line>
		<line class="st7" x1="89.4" y1="48.3" x2="89.7" y2="48.3"></line>
		<line class="st7" x1="92.8" y1="48.3" x2="93.1" y2="48.3"></line>
		<line class="st7" x1="96.2" y1="48.3" x2="99.9" y2="48.3"></line>
		<line class="st7" x1="103" y1="48.3" x2="103.3" y2="48.3"></line>
		<line class="st7" x1="106.4" y1="48.3" x2="110.1" y2="48.3"></line>
		<line class="st7" x1="113.1" y1="48.3" x2="113.5" y2="48.3"></line>
		<line class="st7" x1="116.5" y1="48.3" x2="120.2" y2="48.3"></line>
		<line class="st7" x1="123.3" y1="48.3" x2="123.6" y2="48.3"></line>
	</g>
</g>
</g>
</svg>

    <!-- <p class="lab-coming-soon">* lab coming soon</p> -->
    </section>
    
    
    </template>

    <script>

    </script>

    <style lang="less">
    
    

.home-illustration{
    // position:absolute;
    // bottom:40px;
    // right:0;
    margin-top:10vh;
    svg {
        width:100%;height:130px;
    }
    .computer{
       
    }
}



</style>