<template>
    <div ref="cursor" class="cursor" :class="[direction,{show:show}]" >
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="76.33px"
	 height="80.67px" viewBox="0 0 76.33 80.67" style="enable-background:new 0 0 76.33 80.67;" xml:space="preserve">
    <g class="arrow" v-if="mode=='arrow'">
        <line       class="st0" x1="38.16" y1="0.67" x2="38.16" y2="80.67"/>
        <polyline   class="st0" points="76,33.23 38.16,0.67 0.33,33.23 "/>
    </g>
    <g class="square" v-if="mode=='square'">
        <rect x="20" y="20" width="40" height="40" class="st0" />
    </g>
</svg>

    </div>
</template>

<script>

export default {


    name:'FauxCursor',
    components:{},
    props:{
        root:Object,
        capture:null,
    },
    data(){
        return{
            style:null,
            direction:null,
            stops:[],
            show:true,
            hideon:[],
            initx:0,
            inity:0,
            currentstop:0,
            mode:"arrow"
        }
    },
    beforeDestroy(){
        console.log('remove listeners!');

        document.removeEventListener("mousemove",this.cursorUpdate);
        document.removeEventListener("click", this.cursorClicked);
  
        this.capture.forEach((selector)=>{
            let elements = document.querySelectorAll(selector);
                elements.forEach((el)=>{
                    el.removeEventListener("mouseover",
                    ()=>{
                            console.log('mouse over is it a double?')
                           this.captureEvent(el); 
                    });
                    el.removeEventListener("mouseout",this.endCaptureEvent);
                });
        });


    },
    // beforeRouteLeave(){
    //     console.log('remove listeners!!!');


    // },
    mounted:function(){
        
        this.style= this.$refs.cursor.style;
        let rect = this.$refs.cursor.getBoundingClientRect();
        
        this.initx  = rect.left;
        this.inity  = rect.right;

        document.addEventListener("mousemove",this.cursorUpdate);
        document.addEventListener("click", this.cursorClicked);
  
        this.capture.forEach((selector)=>{
            let elements = document.querySelectorAll(selector);
                elements.forEach((el)=>{
                    el.addEventListener("mouseover",
                    ()=>{
                           this.captureEvent(el); 
                    });
                    el.addEventListener("mouseout",this.endCaptureEvent);
                });
        });

        this.updateStops();

    },
    watch:{},
    methods:{
        // parentCheck:function(parentNode,childNode){
        //     return parentNode.contains(childNode);
        // },
        captureEvent:function(el){
            this.show=false;
        },
        endCaptureEvent:function(e){
            this.show=true;
        },

        updateStops:function(){
            this.stops = [];
            document.querySelectorAll('.slide').forEach((el)=>{
            this.stops.push(el.offsetTop);
        })
        },
        nextStop:function(current){
            const result = this.stops.filter(val => {return val > current });
            return result[0];
        },
        prevStop:function(current){
            const result = this.stops.filter(val => {return val < current });
            
            if(result.length < 1){
                return 0;
            }
            else{
                return result[result.length-1];
            }
            
        },
        cursorToggle:function(val){
            this.show = val;
        },
        cursorHide:function(val){
            this.show = false;
        },
        cursorShow:function(val){
            this.show = true;
        },
        // 
        cursorClicked:function(e){
            
            this.updateStops();
            let top = window.scrollY;
            let scrollto;

            // let jump = slide.clientHeight;// (window.innerHeight * 70 )/ 100;
            if(this.show !== true){
                return;
            }
            if(this.direction === "up"){
                scrollto = this.prevStop(top);
               
            }
            else{
                scrollto = this.nextStop(top);    
            }

            window.scrollTo({
                    top: scrollto,
                    left: 0,
                    behavior: 'smooth'
            });



        },
        cursorUpdate:function(e){
            
            let x = Math.floor(e.pageX) - this.initx;
            let y = Math.floor(e.pageY) - this.inity;
            

            if(window.innerHeight/2 > e.y && window.scrollY > 0){
                this.direction = "up";
            }
            else{
                this.direction = "down";
            }            

            this.style.setProperty("--trx",x+"px");
            this.style.setProperty("--try",y+"px");
        }
    }
    
}
</script>

<style>
    .st0{fill:none;stroke:#000000;stroke-width:1.0098;stroke-miterlimit:10;}

    .cursor{
        will-change: transform; 
       --trx:0px;
        --try:0px;
        --trot : 0deg;
        --tscale:0;
        transform:translate(var(--trx), var(--try)) rotate(var(--trot)) scale(var(--tscale));
        width:100px;
        height:100px;
        position:fixed;
        top:50px;
        left:-150px;
        z-index:50;
        transition:transform .1s, opacity .5s .2s;
        display:flex;
        justify-content:center;
        align-items:center;
        pointer-events:none;
        opacity:1;
      
    }
    .cursor.show{
        --tscale:1;
        opacity:1;
        transition:transform .2s;
    }
    .cursor.up{
       
        --trot : 0deg;
    }
    .cursor.down{
        background:none;
        --trot : 180deg;
    }

</style>
