<template>
    <header>
        
        <hgroup>
            <div class="logo"><slot name="logo"></slot></div>
            <div class="drawer"><slot name="drawer"></slot></div>
        </hgroup>

        <div class="drawer-expand"><slot name="drawer-expand"></slot></div>
    </header>
</template>


<script>
export default {
    name:'Header',

}
</script>
<style scoped>

header{
     /* Safari */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:100;
    border-bottom:1px solid rgba(0,0,0,.2);
}

hgroup{
    padding-top:2em;
    padding-bottom:2em;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* min-height: 120px; */
    


}
.logo{
    /* max-width: 120px; 
   
    */
     flex-grow: 3;
}
.drawer{
    /* align-self:flex-end; */
}
.drawer-expand{
    width:100%;
    
}
</style>
