<template>
    <header>
        <h1>{{primary}}</h1>
        <h2>{{secondary}}</h2>
    </header>
</template>


<script>
export default {
    name:'Headline',
    props:{
        primary:String,
        secondary:String
    },

}
</script>
<style scoped lang="less">

@import "../../less/coffee/config.less";

header{

h1{
    font-size:var(--fs-headline-primary);
}
h2{
    font-size:var(--fs-headline-secondary);
}
}
</style>
