<template>
    <div class="ifr-wrapper">
		<iframe class="ifr" width="100%" height="600px" :src="src"></iframe>
		<clabel v-if="label" :label="label" />
	</div>
</template>
<script>
import label from '~/components/c/label.vue';

export default {
    name:'ifr',
    components:{
        clabel:label
    },
    props:{
        src:String,
        label:String
    }
}
</script>
<style scoped>
    .ifr{
        background:white;
    }
</style>
