<template>
    <div class="label" :class="size">
		<span class="label-text" v-html="label" ></span>
	</div>
</template>

<script>
export default {
    name:'label',
    props:{
        label:String,
        size:String
    }
}
</script>

<style>
.label{

    padding:0px 0px 0px calc(100% - 420px);
}
.label-text{
    border:1px solid black;
    border-width:4px 0 0 0;
    display: inline-block;
    padding:10px 10px 20px 0;
    margin:4px 0 0;
    width:100%;
    text-align: right;
    font-size:14px;


}
.label::after{
    content:" ";
    clear:both;
}
.label.medium{
    width:75%;
}
.label.full{
    width:100%;
}

.label-text{



}
</style>
