<template>
    <section class="navigation see-also">
        <h4 v-if="label">{{label}}</h4>
        <ul class="navigation-project-list">
               <li v-for="it in items" :key="it.url" class="navigation-project-list-item" >
               <a :href="it.url" class="navigation-project-list-link">{{it.label}}</a>
                    
                   <!-- <nuxt-link :to="it.url" target="_blank" class="navigation-project-list-link"><span v-html="it.label"></span></nuxt-link>  -->
               </li>
        </ul>
    </section>
</template>


<script>
export default {
    name:'Links',
    props:{
        items:Array,
        label:String
    },
    computed:{
       
    }
}
</script>
<style scoped lang="less">

.navigation-project-list-link{

	display:flex;
	flex-direction: column;
	justify-content: center;
	// height:10vh;
	// min-height:80px;


}

.navigation-project-list-link:before{
	content: "→";
	text-align: right;
	display: block;
	position: absolute;
	transform: translateX(-6rem);
	width:4rem;
	opacity: 0;
	//.font-size(10);
	transition: transform .2s, opacity .3s;
}
.navigation-project-list-link:hover:before{
	transform: translateX(-5rem);
	opacity: 1;

}


</style>
