<template>
    <section class="navigation see-also" :class="{is_expanded:expanded}" >
        <h4 v-if="label">{{_label}}</h4>
        <ul class="navigation-project-list">
               <li v-for="it in items" :key="it.url" class="navigation-project-list-item" >
                   <nuxt-link :to="it.url" class="navigation-project-list-link"><span v-html="it.label"></span></nuxt-link>
                   <span class="navigation-project-list-link-subline" v-html="it.desc" />
               </li>
        </ul>
    </section>
</template>


<script>
export default {
    name:'Navigation',
    props:{
        items:Array,
        label:String,
        desc:String,
        expanded:Boolean
    },
    computed:{
        _label:function(){
            if(this.label === undefined){
                return 'See also';
            }
            else{
                return this.label;
            }

        }
    }
}
</script>
<style scoped lang="less">
.navigation{
    max-height:0;
    
    background:var(--c-bgr-secondary);
    padding:var(--l-padding);
    transition:max-height .5s ease-in-out;
    // position:absolute;
    top:20vh;left:0;
    width:100%;
    z-index:5000;
    overflow:hidden;
}
.navigation-project-list{
    max-width:980px;
    margin:0 auto;
}
.navigation.is_expanded{
    
    max-height:1000px;
}
.navigation-project-list{
    padding:4em 0;
}
.navigation-project-list-link{

	display:flex;
	flex-direction: column;
	justify-content: center;
	// height:10vh;
	// min-height:80px;
    font-size: 1.8rem;
    

}
._transiton(){
	transition: opacity .3s, transform .5s;
}


.navigation-project-list-link-subline{
	font-size:.7em;
	//color:rgba(255,255,255,1);
	// background:rgba(9,9,9,.9);
	padding:.5em 0;
	opacity:0;
	display: inline-block;
	transform: translateX(10px);
._transiton();
}

.navigation-project-list-item{
    margin-top:2em;
    &:first-child{
        margin-top:0em;
    }
}
.navigation-project-list-item:hover{

	.navigation-project-list-link-subline{
		opacity: 1;
		transform: translateX(0px);
		// transform: rotateX(0deg), translateY(1px);
		._transiton();

	//background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	}

}




.navigation-project-list-item:before{
	content: "→";
	text-align: right;
	display: block;
	position: absolute;
	transform: translateX(-6rem);
	width:4rem;
	opacity: 0;
	//.font-size(10);
	transition: transform .2s, opacity .3s;
}
.navigation-project-list-item:hover:before{
	transform: translateX(-5rem);
	opacity: 1;

}


</style>
