<template>
   <div class="slide-intro">
      <slot name="head">
      
      </slot>
      
      <div class="intro-split">
        
        <div class="description">
            <slot name="desc">
            
            </slot>
        </div>

        <div class="bites">
            <slot name="bite">
            
            </slot>
        </div> 
    </div>
   </div> 
</template>

<script>

// import bite from '~/components/c/bite.vue'
// import headline from '~/components/c/Headline.vue'
// import TextBlock from '~/components/c/TextBlock.vue'

export default {
    name:'ProjectIntro',
    props:{
        primary:String,
        secondary:String
    },
    mounted:function(){
        yall({
            threshold:200
        })
    }

}
</script>
<style scoped lang="less">

@import "../../less/coffee/config.less";
@import "../../less/utils/mq.less";

.intro-split{
    margin-top:2em;
    display:flex;
    // flex-direction:row-reverse;
    flex-direction:row;
    .mx-medium({
        flex-direction:column-reverse;
    })
    //flex-flow:reverse;
}

.intro-split(@a){
    flex:@a;
}

.intro-split-3{
    flex:3
}
.intro-split-2{
    flex:2
}
.intro-split-1{
    flex:1
}

.description{
    padding-right:4em;
    .intro-split(3);
    .mx-medium({
        .intro-split(2);
    })

}
.bites{
    .intro-split(1);
    justify-self:flex-end;
    
    .mx-medium({
        .intro-split(2);
        margin:1em 0;
    })
}

</style>
