<template>

    <div class="quote">
		<div class="quote-txt">
            <slot></slot>
        </div>
		<div class="quote-signature">
    		<p class="quote-author-name">{{from}}</p>
    		<p class="quote-author-detail">{{detail}}</p>
		</div>

	</div>

</template>


<script>
export default {
    name:'quote',
    props:{
        from:String,
        detail:String,
    },

}
</script>
<style scoped lang="less">
@import "../../less/utils/mq.less";
.quote{
    background:white;
    .mx-medium({padding:5em 3em;});
    .mn-medium({padding:6em 10em;});
    
    // border:4px solid black;
    border-width:4px 0;
    // .mn-medium({
    //     padding:30vh 10vw;
    //     });
}
.quote-txt{}
.quote-signature{
    margin-top:2em;
}
.quote-author-name{
    font-size:1.2em;
}

    .quote-author-detail{
        // font-size:.9em;
        }
</style>
