<template>
    <div class="split-wrapper">
    <section :class="['split',{fold:fold}]">
        <slot></slot>
    </section>
    <clabel v-if="label" class="media-viewer-label" :label="label" />
    </div>
</template>
<script>

import label from '~/components/c/label.vue';
export default {
    name:'Split',
    components:{clabel:label},
    props:{
        items:Array,
        label:String,
        fold:Boolean,
    },

}
</script>

<style scoped lang="less">
@import '../../less/utils/mq.less';

.split{

    clear:both;
    display: flex;
    flex-direction: row;
    flex:1;

    & > *{
        padding-left:.5em;
        // padding-right:.5em;
        flex: 1;
    }
    & > *:first-child{
        padding-left:0;
    
    }
    // & > *:last-child{
    //     padding-right:0;
    // }

    padding:0;
}

.split.fold{
   .mx-medium({
       .apply_fold();
   })
}
.apply_fold(){
    flex-direction: column;
    flex: 1;
    // max-height: 70vh;
    // overflow: hidden;
    // overflow-y: auto;
    padding-right: 50px;
    width: calc(100% + 50px);
    & > *{
        padding:0;
        margin-top:1em;
        flex: 1;
    }
    & > *:first-child{
        margin-top:0;
        flex: 1;
    }
    & > *:last-child{
        padding-right:0;
    }

}
</style>
