<template>
    <section :class="['block-text', snap]">
        <div :class="['block-text-content',size]">
            <slot>
            </slot>
        </div>
    </section>
</template>


<script>
export default {
    name:'TextBlock',
    props:{
        size:String,
        snap:String
    },
    computed:{}
}
</script>
<style scoped lang="less">
.block-text{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    // margin-top:2em;

    &.left{
        align-items: flex-start;
    }
    &.right{
        align-items: flex-end;
    }
    &.center{
        align-items: center;
    }
    // p{
    //     margin-top:1em;
    // }
}
.block-text-content{
    width:100%;

    &.full{
        width:100%;
    }
    &.third{
        width:75%;
    }
    &.half{
        width:50%;
    }
}
</style>
