<template>
    <div class="media-viewer" :class="[{scrollable:scroll},layout]">
		<div class="media-viewer-collection" :class="[{fold:fold},layout]">
			<div v-for="item in collection" class="media-viewer-collection-item" :class="[{fold:fold}]" :key="item.src">
                <span class="media-viewer-image-wrap">
                 <cloud :alias = "item.alias" :d="item.mq.desktop"/>
             <!--       <img :xsrc="item.src" :data-src="item.src" class="media-viewer-image lazy" src="https://spacergif.org/spacer.gif" /> -->
                </span>
            </div>
		</div>
		<clabel v-if="label" class="media-viewer-label" :label="label" />
     
    </div>
</template>

<script>

import label from '~/components/c/label.vue';
import cloud from '~/components/c/cloud.vue';
// import sizeOf from "image-size";

export default {


    name:'viewer',
    components:{
        clabel:label,
        cloud
    },
    props:{
        collection:Array,
        label:String,
        scroll:Boolean,
        layout:String,
        fold:Boolean
    },
    computed:{
        // collect(){
        //     let arr;
        //     this.collection.forEach((item)=>{
        //         console.log(item);
        //         const responsiveImage = require(item.src+'?sizes[]=100,sizes[]=200,sizes[]=300');
        //         arr.push(responsiveImage);    
        //     });
            
        //     return arr;
 
        // }
    }
    
}
</script>

<style lang="less">

@import "../../less/utils/mq.less";

.media-viewer{

    
    width:100%;
    
    
    .mx-small({
        overflow:hidden;    
    });

}
.media-viewer.scrollable{
    overflow:hidden;
    cursor: ns-resize;

}

.media-viewer-collection{ 
    // background:rgba(125,125,125,.8);
    display:flex;
    flex-direction: row;
    justify-content: center;
    overflow:hidden;
    align-items: center;

    
    &.fold{
      .mx-medium({
        flex-direction: column;
        justify-content: flex-start;
        max-height: 70vh;
        overflow-x:hidden;
        overflow-y: auto;
        width:calc(100% + 100px);
        padding-right:100px;
        cursor: ns-resize;
    });


    }
    
}

.media-viewer-collection-item{

    box-sizing: border-box;
    padding:0 .5em;
    flex: 1;

    .mn-medium({
        
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }

    });

    &.fold{
    .mx-medium({
        padding:0;
        margin-top:.5em;
      
        flex: auto;
        &:first-child{
            margin-top:0;
        }
    })
    }


}

.media-viewer.scrollable .media-viewer-collection{
    max-height: 70vh;
    // flex-direction: column;
    justify-content: flex-start;
    overflow-x:hidden;
    overflow-y: auto;
    width:calc(100% + 100px);
    scroll-behavior: smooth;
    // .mx-medium({max-height:50vh;})
}


.media-viewer.scrollable  .media-viewer-collection-item{
    padding:0;
    padding-right:100px;
    flex: auto;
        align-self: flex-start;
}

.media-viewer-image-wrap{
    //background:#50E3C2;
    display:block;
}
.media-viewer-image{
    width:100%;
    max-width:100%;
    height: auto;
    display: block;
    opacity: 1;
    transition:opacity .73s ease-in .1s;

}
.media-viewer-image.lazy{
    opacity: 0;
}
.media-viewer-label{}



.media-viewer-collection.column{
    flex-direction: column;
    // justify-content: center;
    // overflow:hidden;

    .mx-small({
        flex-direction: column;
        // justify-content: center;
        // align-items:center;
        //  max-height: 70vh;
        // overflow-x:hidden;
        // overflow-y: auto;
        // width:calc(100%);
    })
}



.media-viewer-collection.column .media-viewer-collection-item{
    padding:.5em 100px .5em 0;
     &:first-child{
            padding-top: 0;
        }
        &:last-child{
            padding-bottom: 0;
        }
}

.media-viewer-scroll{}
.media-viewer-scroll-content{}








</style>
