/*

this file contains css vars tokens:

*/
@import "../utils/mq.less";

:root{

    --c-primary:#000;
    --c-secondary:#fff;

    --c-bgr-primary:#eeefef;
    --c-bgr-secondary:#fff;

    --fs-body:1.6rem;

    --l-padding:0 4em;

    .mx-medium({
        --l-padding:0 2em;
    });

    .mx-small({
        --l-padding:0 2em;
    });

   
    --fs-body-default:1.4rem;
    --fs-headline-primary:2.2rem;
    --fs-headline-secondary:1.8rem;
    --fs-bites:1.4rem;
    
    
    

}
