<template>
    <div  class="layout-default">
        <!--   <Navigation class="navigation-default" :expanded="is_nav_expanded" :items="projects"/>-->
        <cheader class="header header-default">
            <template slot="logo">Tomasz Kozysa <br/>Creative Technologist | Interaction &amp; Front End Specialist</template>
            <template slot="drawer">
                <ul>
                    <li><nuxt-link to="/work">Work</nuxt-link></li>
                    <!-- <li @click="()=>toggleNav()">Work</li>-->
                </ul>
            </template>
            
        </cheader>
        
        <nuxt ref="page" class="page page-default"   /> <!-- :class={is_dimmed:is_nav_expanded} -->
        <!--<div class="sq" @click="scroll" >x</div> -->

         
        <footer>
         Last update: January 2019, Crystal Palace, London 💛 <br />
         All rights reserved, Tomasz Kozysa 2019
        </footer>
  </div>
</template>

<script>
import Header from '~/components/c/Header.vue'
import Navigation from '~/components/c/Navigation.vue'
import Computer from '~/components/c/Computer.vue'
import FauxCursor from '~/components/c/FauxCursor.vue'

export default {
    components:{
        'cheader':Header,
        Navigation,
        Computer,
        FauxCursor,
    },
    data(){
        return {
            is_nav_expanded:true,
            snapPoints:[],

        }
    },
    mounted(){
        // this.updateSnapPoints();
        // console.log('default-layout-mounted');
        yall({
             threshold:"400",
        });

        // this.updateSnapPoints();
    },
    computed:{
        projects(){
            // loads projects info from the store
            // navigation component needs this
            return  this.$store.state.projects.list;
        },
        // snapPoints(){

        //     let snapPoints = [];
        //     document.querySelectorAll('.slide').forEach((el)=>{
        //         snapPoints.push(el.offsetTop);
        //     });
        //     console.log('snapPoints:',snapPoints);
        //     return snapPoints;

        // }
    },
    watch:{
        $route(to,from){
            // this.updateSnapPoints();
            // watching the rout to refresh coursor related stuff...
        }
    },
    methods:{
        onCaptured:function(e){
            console.log('cursor event: ',e);
        },
        // updateSnapPoints:function(){
        //     this.snapPoints = [];
        //     let sp = [];
        //     document.querySelectorAll('.slide').forEach((el)=>{
        //         sp.push(el.offsetTop);
        //     });
        //     this.snapPoints = sp;
        //     return sp;
        // },
        // nextStop:function(current){
        //     let snapPoints = this.updateSnapPoints();
        //     const result = snapPoints.filter(val => {return val > current });
        //     return result[0];
        // },
        // prevStop:function(current){
        //       let snapPoints = this.updateSnapPoints();
        //     const result = snapPoints.filter(val => {return val < current });
            
        //     if(result.length < 1){
        //         return 0;
        //     }
        //     else{
        //         return result[result.length-1];
        //     }
            
        // },
        // cursorClick:function(e){
        //     // this.updateSnapPoints();

        //     let top = window.scrollY;
        //     let new_top; 
            
        //     if(window.innerHeight/2 > e.y){
        //         new_top = this.prevStop(top);
        //     }
        //     else{
        //         new_top =this.nextStop(top);
        //     }

        //     console.log(top,new_top);

        //     window.scrollTo({
        //             top: new_top,
        //             left: 0,
        //             behavior: 'smooth'
        //         });

        // },
        toggleNav:function(force = null){
            if(force===null)
            {
                this.is_nav_expanded = !this.is_nav_expanded;
                window.scrollTo(0,0);
            }
            else{
                this.is_nav_expanded = force;
            }
        },
        // scroll:function(e){
        //     let me = e.target;
        //     window.scrollTo(0, window.pageYOffset + me.offsetHeight);
        // }
    },
   
}
</script>
<style lang="less">

@import '../less/coffee/config.less';
@import '../less/utils/bundle.less';
@import '../less/utils/mq.less';

body{
    margin:0;padding:0;
    color:var(--c-primary);
    background:var(--c-bgr-primary);
    font-size:var(--fs-body-default);
    
   
    /*scroll-behavior: smooth;*/
}
.header-default{
    background:var(--c-bgr-primary);
    padding:var(--l-padding);
}
.navigation-default{
        position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index:500;
  top:100px;
}
.layout-default{
    // padding:0em 1em;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 1100px;
    margin:0 auto;
    //  background:rgba(50,10,150,.2);
}

footer{
    margin-top:10em;
    min-height:20vh;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 1em;
    border-top:.5px solid rgba(0,0,0,.3);
    font-size:.8em;
}

/* PROJECT TEMPLATE */
.slide-intro {
    
   
    margin-top:5vh;
   

}

.slide {
    
    clear:both;
    // border:1px solid rgba(0,0,0,.2);

    width:100%;
    min-height:70vh;
    margin-top:20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

        .mn-medium({
       // min-height:100vh;
        // padding:5vh 0;
        // border:1px solid green;
    });

    // border:1px solid rgba(0,0,0,.2);
}

.page{
    // background:black;
}
.page-default{
    padding:var(--l-padding);
    filter:blur(0px);
    transition:filter .8s ease-in-out;
    // display:flex;
    // flex-direction:column;

    &.is_dimmed{
    filter:blur(10px);
    transition:filter .5s ease-in-out;
}
}

.slide-intro{
    padding:5em 0 0;// 2em;
}

.sq{
    z-index:1000000;
    position:fixed;
    bottom:0;
    right:0;
    height:90vh;
    width:40px;
    background:black;

}



.page-enter-active, .page-leave-active{
    transition:all 0.5s;
}
.page-enter, .page-leave-active{
    opacity:0;
    transform:translateY(2em);
    // transition:all 0.5s;
}
</style>
