<template>
    <div class="main-layout">

    <cheader class="header-default">
        <template slot="logo">Tomasz Kozysa <br/>UX Designer &amp; Front End Developer</template>
        <template slot="drawer">item 1 | item 2 | item 3</template>
    </cheader>

      <nuxt/>

     <footer>
         Last update: January 2019, Crystal Palace, London 💛
All rights reserved, Tomasz Kozysa 2019</footer>

  </div>
</template>

<script>
import Header from '~/components/c/Header.vue'

export default {
    components:{
        'cheader':Header
    },
    mounted:function(){
        yall({
             threshold:"-200",
        });
    }

}
</script>
<style lang="less">


</style>
