<template>
    <div  class="layout-default">
           <Navigation class="navigation-default" :expanded="is_nav_expanded" :items="projects"/>
        <cheader class="header-default">
            <template slot="logo">Tomasz Kozysa <br/>Creative Technologist </template>
            <template slot="drawer">
                <ul>
                    <li><nuxt-link to="/work">Work</nuxt-link></li>
                    <!-- <li @click="()=>toggleNav()">Work</li>-->
                </ul>
            </template>            
        </cheader>
        
        <nuxt ref="page" class="page-default" :class={is_dimmed:is_nav_expanded}  />
        <!--<div class="sq" @click="scroll" >x</div> -->

        
        <footer>
         Last update: January 2019, Crystal Palace, London 💛 <br />
         All rights reserved, Tomasz Kozysa 2019
        </footer>
  </div>
</template>

<script>
import Header from '~/components/c/Header.vue'
import Navigation from '~/components/c/Navigation.vue'
import Computer from '~/components/c/Computer.vue'

export default {
    components:{
        'cheader':Header,
        Navigation
    },
    data(){
        return {
            is_nav_expanded:false,
            projects:[
                {
                    label:'Birthday Words &ndash; Oxford University Press',
                    url:'/projects/oed',
                    desc:'CSS made 3D Cubes reveal a word intrudcued to the dictionary the year you were born',
                },
                {
                    label:'LEXI 2014 Paralympic Guidelines &ndash; Channel&nbsp;4',
                    url:'/projects/lexi2014',
                    desc:'Interactive guide to Sochi 2014 Paralympic Classifications'
                },
                {
                    label:'Geimfar',
                    url:'/projects/geimfar',
                    desc:'DIY identity for a creative space'
                },
                {
                    label:'SVG Morse Generator',
                    url:'/projects/svg-morse-generator',
                    desc:'A brief story about my business cards',
                },
                {
                    label:'AdPlanner &ndash; Yahoo! EMEA Research and Insights',
                    url:'/projects/ad-planner',
                    desc:'Advertsing research visualised'
                },
                {
                    label:'Independent Voices &ndash; The Independent',
                    url:'/projects/voices',
                    desc:'Design system for The Independent\'s new platform'
                },

            ]
            }
    },
    watch:{
        $route(to,from){
            
            this.toggleNav(false);
        }
    },
    methods:{
        toggleNav:function(force = null){
            if(force===null)
            {
                this.is_nav_expanded = !this.is_nav_expanded;
                window.scrollTo(0,0);
            }
            else{
                this.is_nav_expanded = force;
            }
            
           
        },
        scroll:function(e){
            let me = e.target;
            console.log(me.offsetHeight,window.pageYOffset)
            // window.scrollByPages(1);
           window.scrollTo(0, window.pageYOffset + me.offsetHeight);
        }
    },
    mounted:function(){
        yall({
             threshold:"100",
        });
    }

}
</script>
<style lang="less">
/*
@import '../less/coffee/config.less';
@import '../less/utils/bundle.less';
@import '../less/utils/mq.less';

body{
    margin:0;padding:0;
    color:var(--c-primary);
    background:var(--c-bgr-primary);
    font-size:var(--fs-body-default);
    
   
}
.header-default{
    background:var(--c-bgr-primary);
    padding:var(--l-padding);
}
.navigation-default{
        position: -webkit-sticky; 
  position: sticky;
  z-index:500;
  top:100px;
}
.layout-default{
    // padding:0em 1em;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 1100px;
    margin:0 auto;
     
}

footer{
    margin-top:10em;
    min-height:20vh;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 1em;
    border-top:.5px solid rgba(0,0,0,.3);
    font-size:.8em;
}

.page-enter-active, .page-leave-active{
    transition:all 0.5s;
}
.page-enter, .page-leave-active{
    opacity:0;
    transform:translateY(2em);
    // transition:all 0.5s;
}

*/
</style>
