<template>
  <section class="container">
  <Navigation class="navigation-default" :expanded="true" :items="projects"/>
    <TextBlock>
    <p>
    Say something about your work, what is the common thigng, why these projetcs...</p>
    </TextBlock>
  </section>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'
import Navigation from '~/components/c/Navigation.vue'
import TextBlock from '~/components/c/TextBlock.vue'

export default {
    layout:"default",
    components: {
        AppLogo,Navigation,TextBlock
    },
    computed:{
        projects(){
            console.log("STORE:>>", this.$store);
            return  this.$store.state.projects.list;
        
        }
    },
}
</script>

<style>
.container {
  min-height: 100vh;
  /* 
  // display: flex;
  // justify-content: center;
  // align-items: center;
  flex-flow: column; */
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
