<template>
  <section class="container">


        <ProjectIntro>
            <template slot="head">
             <headline primary="Birthday Words" secondary="Oxford Dictionaries" />
            </template>
            <template slot="desc">
            <text-block size="full" class="intro-column">
               <p>...</p>
            </text-block>
        </template>

        <template slot="bite">
           <bites :items="['UX/Prototyping','Front End Development','Visual Design']" />
        </template>
        

       
        
        </ProjectIntro>



      
        <div class="slide">
            <ifr src="https://kozysa.me/oed/proto/02/kozysa3demo.html" label="One of early explorations of 3D based JS/CSS animatons.<br>Click the cubes!" />
        </div>
        <div class="slide">
            <viewer :fold="true" :collection="sources" label="Complete app in a few simple steps"/>
        </div>
        <div class="slide">
            <split :fold="true">
            <ifr class="ifr-oed-tests" src="https://dev.15nine.com/old_dev/od/list.html" />
            <text-block size="" justify="left" class="prototype-text">
                <p>
                    This is a sequence of four tests. I was interested o see which could be the easiest/quickest way to submit a year of birth. I tested it on my local caffee crowd and the native input proved the safest choice. Duh?
Yes and no, here is an interesting finding: both list based tests saw biggest improvement uppon several repetitions.
                </p>
            </text-block>
            </split>
        </div>
        <div class="slide">
            <quote from="Kirsty" detail="Marketing Executive, Oxford University Press">
                We worked with Tomasz to create an interactive Birthday Words feature that tells you which words entered the English language in the year you were born, and needed a developer who was excellent at both development and design. Tomasz was the perfect person for the job.
                Tomasz was a real pleasure to work with. He brought a wealth of initiative, creativity, and skill to the project, and worked quickly and accurately to create a feature that is better than we ever imagined. As well as providing us with excellent design ideas, he added some really great moving features. Thank you very much for your hard work and wonderful ideas, Tomasz!
            </quote>
        </div>

  </section>
</template>

<script>

import ifr from '~/components/c/ifr.vue'
import bite from '~/components/c/bite.vue'
import viewer from '~/components/c/viewer.vue'
import headline from '~/components/c/Headline.vue'
import TextBlock from '~/components/c/TextBlock.vue'
import ProjectIntro from '~/components/c/ProjectIntro.vue'
import Quote from '~/components/c/Quote.vue'
import Bites from '~/components/c/Bites.vue'
import Split from '~/components/c/Split.vue'
import Links from '~/components/c/Links.vue'
// import yall from 'yall'


export default {
  components: {
      ifr,bite,viewer,headline,'text-block':TextBlock,Quote,Bites,Split,Links,ProjectIntro
  },
  data(){
      return{
          sources:['/img/projects/oed/oed_step1.jpg','/img/projects/oed/oed_step2.jpg','/img/projects/oed/oed_step3.jpg','/img/projects/oed/oed_step4.jpg']
      }
  },

}
</script>

<style lang="less">

.ifr-oed-tests{
    max-width:420px;
}

.prototype-text{
    align-self: flex-end;
}

</style>
